<div class="container">
  <div class="btnDiv">
    <button nz-button nzType="primary" nz-tooltip (click)="getSitesData()">
      <span>{{"refresh" | translate}}</span>
    </button>
  </div>
  <div class="activateTbl" *ngIf="!isMobile">
    <nz-table #siteTable nzBordered [nzData]="sites" [nzPageSize]="5" [nzShowPagination]=false>
      <thead>
        <tr>
          <th width="20%">{{"siteName" | translate}}</th>
          <th width="20%">{{"description" | translate}}</th>
          <th width="20%">{{"location" | translate}}</th>
          <th width="10%">{{"zipCode" | translate}}</th>
          <th width="10%">{{"status" | translate}}</th>
          <th width="10%">{{"operations" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let site of siteTable.data;let i = index;" [ngClass]="{'even': i%2==0}">
          <td width="20%">{{site.siteName}}</td>
          <td width="20%">{{site.description}}</td>
          <td width="20%">{{site.location}}</td>
          <td width="10%">{{site.zipCode}}</td>
          <td width="10%" class="defaultCls {{site.status | lowercase}}">{{site.status}}</td>
          <td width="10%">

            <span *ngIf="(site.statEnum | lowercase) =='green_grey'" class="action" (click)="activateSite(site.siteId,site.siteName)">
              <i class="anticon activate"></i>
            </span>
            <span *ngIf="(site.statEnum | lowercase) !=='green_grey'" class="action" onclick="return false;">
              <i class="anticon anticon-check-circle-o"></i>
            </span>
            <span class="action" onclick="return false;">
              <i class="anticon anticon-edit"></i>
            </span>
            <span class="action" (click)="deleteSiteInfo(site.siteId,site.siteName)">
              <i class="anticon anticon-delete"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>


  </div>

  <div class="activateTbl" *ngIf="isMobile">
    <nz-table #siteTable nzBordered [nzData]="sites" [nzPageSize]="5" [nzShowPagination]=false>
      <thead>
        <tr>
          <th></th>
          <th width="60%">{{"siteName" | translate}}</th>
          <th width="40%">Actions</th>
        </tr>
      </thead>
      <tbody>
          <ng-template ngFor let-data [ngForOf]="siteTable.data">
              <tr>
                <td nzShowExpand [(nzExpand)]="data.expand"></td>
                <td width="60%">{{data.siteName}}</td>
                <td width="40%">

                  <span *ngIf="(data.statEnum | lowercase) =='green_grey'" class="action" (click)="activateSite(data.siteId,data.siteName)">
                    <i class="anticon activate"></i>
                  </span>
                  <span *ngIf="(data.statEnum | lowercase) !=='green_grey'" class="action" onclick="return false;">
                    <i class="anticon anticon-check-circle-o"></i>
                  </span>
                  <span class="action" onclick="return false;">
                    <i class="anticon anticon-edit"></i>
                  </span>
                  <span class="action" (click)="deleteSiteInfo(data.siteId,data.siteName)">
                    <i class="anticon anticon-delete"></i>
                  </span>
                </td>
              </tr>

              <tr [nzExpand]="data.expand">
                  <td></td>
                  <td colspan="2"><b> {{"description" | translate}}: </b>{{data.description}}<br/>
                    <b> Location: </b>{{data.location}}<br/>
                    <b> Zip Code: </b> {{data.zipCode}}<br/>
                    <b> Status: </b>  {{ data.status}}<br/>
                  </td>
              </tr>
          </ng-template>    
      </tbody>
    </nz-table>
  </div>

</div>