nz-table
{
    th,tr,td,div,span
    {
        background: var(--primary);
        color: var(--on-primary) ;  
    }
    th{
        
        font-weight:bold;         
        padding:5px 5px 5px 10px;
       background: var(--th-background);
        
    }
    tr{
        border-left-color: var(--primary);
        td{
            border-bottom: 1px solid rgb(232, 232, 232);
            padding:10px 5px 10px 10px;
            // background:var(--th-background);
            color: var(--on-primary) ;  
            .action
            {
                margin-left:10px;
                // background:var(--th-background);
            }     
            .activate
            {
                background:url(../../assets/images/activate.png);
                width:16px;
                height:16px;
                background-size:100% 100%;
                &:hover
                {
                    cursor: pointer;
                    
                }    
            }
            .disableActivate
            {
                background:url(../../assets/images/disabled_activate.png);
                width:14px;
                height:14px;
                background-size:100% 100%;
            }
        }
        td.online{   
            background:green !important;           
               
        }
        td.defaultCls{
            background:darkgray; 
            color:white ;
            font-weight:bold; 
        }  
    }
    
}
.btnDiv
{
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
    padding-bottom:20px;


}

:host ::ng-deep .ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}


:host ::ng-deep .ant-table-placeholder
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-table-placeholder.ng-star-inserted{
    background:  var(--primary);
}

:host ::ng-deep .ant-table-row-expand-icon
{
    background:  var(--primary); 
}