.config-vpn-content{
    .config-vpn-buttons{
        padding-bottom:10px;
        display: flex;
        flex-direction: row-reverse;
        margin-right:20px;
        button {
            margin-right: 8px;
        }
    }

}
.btn_div
{    
    padding-bottom:10px;
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
}

nz-table
{
    th,tr,td,nz-spin,div,span
    {
        background-color: var(--tablecolor);
        color: var(--on-primary) ;        
        .action
        {
            margin-left:10px;
        }
    }
    td{
        border-bottom: 1px solid #F7F8FC;
        background: var(--tablecolor) !important;
    }
    th{
        padding:5px;
        font-weight:bold;        
    }
    tr{
        border-left-color: var(--primary);
    }        
}

.add-edit-site-modal
{
background-color: black !important
}
@media (max-width: 575px) {

    .xs-text-center{
        text-align: center;
    }

    .xs-mar-0{
        margin: 0!important;
    }
    .xs-mar-auto{
        margin: 0 auto!important;
    }
    .xs-position-rel{
        position: relative;
        overflow: auto;
    }

    .ant-pagination-prev .ant-pagination-item-link:after {
        color:  var(--on-primary) ;
        background-color:var(--primary_pagination);
        border-color: #1890ff;
      }
      .ant-pagination-prev .ant-pagination-item-link:after, .ant-pagination-next .ant-pagination-item-link:after {
        color:  var(--on-primary) ;
        background-color:var(--primary_pagination);
        border-color: #1890ff;
      }
    
      .ant-pagination-item-active {
        color:  var(--on-primary) ;
        background-color:var(--primary_pagination);
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td 
  {        
      //overflow: hidden;
      //text-overflow: ellipsis;  
      white-space: nowrap; 
      word-break:normal;  
      background: var(--tablecolor) !important;
  } 
 
 :host ::ng-deep .ant-table-bordered.ant-table-fixed-header .ant-table-placeholder
  { 
      
      background: var(--tablecolor) !important;
      color: var(--on-primary) ;   
      
  }
}