<div class="add-edit-site-modal">
  <nz-modal nzWrapClassName="vertical-center-modal" theme [(nzVisible)]="isVisible" nzWidth=1000 nzTitle="{{modalTitle}}" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <div class="table">
      <div class="">
        <nz-table #editRowTable nzBordered [nzData]="products" [nzPageSize]="5" [nzScroll]="{ x: '600px' }">
          <thead>
            <tr>

              <th nzWidth="62px" nzLeft="0px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
              <th nzWidth="100px" nzLeft="62px">{{"siteName" | translate}}</th>
              <th nzWidth="100px">{{"description" | translate}}</th>
              <th nzWidth="100px">{{"type" | translate}}</th>
              <th nzWidth="100px">{{"capacity" | translate}}</th>
              <th nzWidth="100px">{{"city" | translate}}</th>
              <th nzWidth="100px">{{"postalCode" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-orderSite [ngForOf]="editRowTable.data">
              <tr>
                <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="orderSite.checked" [nzDisabled]="orderSite.disabled" (nzCheckedChange)="refreshStatus()"></td>
                <td nzLeft="62px">{{orderSite.siteName}}</td>
                <td>{{orderSite.description}}</td>
                <td>{{orderSite.site_type | translate}}</td>
                <td>{{orderSite.capacity}}</td>
                <td>{{orderSite.location}}</td>
                <td>{{orderSite.zipCode}}</td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
      <div>
        <span>{{"totalRecords" | translate}}: {{total}}</span>
      </div>
    </div>
  </nz-modal>
</div>


<div class="config-vpn-content">

  <div class="config-vpn-buttons xs-mar-0">
    <button nz-button nzType="primary" disabled>{{"add" | translate}}</button>
    <button nz-button disabled>{{"delete" | translate}}</button>
  </div>

  <div>
    <nz-table #nestedTable nzBordered [nzData]="vpnArray" [nzShowPagination]="false">
      <thead>
        <tr>
          <th nzShowExpand></th>
          <th>{{"vpnName" | translate}}</th>
          <th>{{"type" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nestedTable.data">
          <tr *ngFor="let data of nestedTable.data">
            <td nzShowExpand [(nzExpand)]="data.expand"></td>
            <td>{{data.vpnName}}</td>
            <td>{{data.vpnType}}</td>
          </tr>
          <tr [nzExpand]="data.expand">
            <td colspan="3">
              <div style="padding-left:20px;">
                <div class="btn_div xs-mar-0">
                  <button nz-button nzType="primary" (click)="showModalMiddle(data.vpnId)">
                    {{"selectSites" | translate}}</button>
                </div>

                <!--Responsive selected sites-->
                <nz-table #innerTable nzBordered [nzData]="data.sites" [nzPageSize]="5" [nzShowPagination]=false>
                  <thead>
                    <tr>
                      <th width="1%" class="thCls"></th>
                      <th width="26%" class=" xs-text-center thCls">{{"siteName" | translate}}</th>
                      <th width="26%" class=" xs-text-center thCls">{{"type" | translate}}</th>
                      <th width="27%" class=" xs-text-center thCls">{{"postalCode" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                      <ng-template ngFor let-data [ngForOf]="innerTable.data">
                          <tr> 
                            <td width="1%" nzShowExpand [(nzExpand)]="data.mobileExpand"></td>
                            <td width="26%" class=" ">{{data.siteName}}</td>
                            <td width="26%" >{{data.site_type | translate}}</td>
                            <td width="27%">{{data.zipCode}}</td>
                          </tr>
                          <tr [nzExpand]="data.mobileExpand">
                              <td></td>
                              <td colspan="3" ><b > {{"description" | translate}}: </b>{{data.description}}<br/>
                                <b > {{"capacity" | translate}}: </b>{{data.location}}<br/>
                                <b > {{"capacity" | translate}}: </b>  {{ data.capacity}}<br/>
                              </td>
                          </tr>
                      </ng-template>    
                  </tbody>
                </nz-table>

                <!---->
                <nz-table #innerTable nzBordered [nzData]="data.sites" nzSize="middle" [nzShowPagination]="false" *ngIf="!isMobile">
                  <thead (nzSortChange)="sort($event)" nzSingleSort>
                    <tr>
                      <th width="16.6%" nzShowSort nzSortKey="siteName">{{"siteName" | translate}}</th>
                      <th width="16.6%" nzShowSort nzSortKey="description">{{"description" | translate}}</th>
                      <th width="16.6%" nzShowSort nzSortKey="role">{{"type" | translate}}</th>
                      <th width="16.6%" nzShowSort nzSortKey="capacity">{{"capacity" | translate}}</th>
                      <th width="16.6%" nzShowSort nzSortKey="location">{{"city" | translate}}</th>
                      <th width="16.6%" nzShowSort nzSortKey="zipCode">{{"postalCode" | translate}}</th>
                    </tr>

                  </thead>
                  <tbody>
                    <tr *ngFor="let data of innerTable.data">
                      <td width="16.6%">{{data.siteName}}</td>
                      <td width="16.6%">{{data.description}}</td>
                      <td width="16.6%">{{data.site_type | translate}}</td>
                      <td width="16.6%">{{data.capacity}}</td>
                      <td width="16.6%">{{data.location}}</td>
                      <td width="16.6%">{{data.zipCode}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </td>
            </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
</div>