<div style="padding-left:3%">Site Information</div>
  <!-- <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
    <nz-table #vpnTable [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
      <thead>
        <tr>
          <th width="4%" class="thCls"></th>
          <th width="12%" class="thCls">Site Name</th>
          <th width="12%" class="thCls">Description</th>
          <th width="12%" class="thCls">Role</th>                                                                                                                                                                                                                                                       
          <th width="12%" class="thCls">Capacity</th>
          <th width="12%" class="thCls">City</th>
          <th width="12%" class="thCls">Postal Code</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of vpnTable.data; index as i;">
          <td width="4%"></td>
          <td width="12%">{{data.siteName}}</td>
          <td width="12%">{{data.description}}</td>
          <td width="12%">{{data.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>
          <td width="12%">{{data.capacity}}</td>
          <td width="12%">{{data.location}}</td>
          <td width="12%">{{data.zipCode}}</td> 
        </tr>
      </tbody>
    </nz-table>
  </div> -->