.paddingLeft{
    padding-left: 40px;
  }
  nz-table{
    
  
  
   td{
     border-bottom: 1px solid #F7F8FC;
      background-color:var(--primary) ; 
       color: var(--on-primary) ; 
   }
   .tdCls{
     font-weight:bold;
     color: var(--on-primary) ;
     background-color:var(--primary) ;
     overflow: hidden; 
     height:21px;   
   }
  
  
   .thCls{
    font-weight:bold;
     color: var(--on-primary) ;
     background-color: var(--th-background);
     
    border-bottom: 1px solid #F7F8FC;
    border-top: 1px solid #F7F8FC;
    height:21px;  
   }
}