
<div theme class="main" *ngIf = "!isMobile">
  <div class="stepper">
    <nz-steps theme [nzCurrent]="current" nzSize="small">
      <nz-step nzTitle="Configure SOTN VPN"></nz-step>
      <nz-step nzTitle='{{"configureSite" |  translate}}'></nz-step>
      <nz-step nzTitle='{{"orderSummary" | translate}}'></nz-step>
    </nz-steps>
  </div>

  <div class="steps order-site-style" *ngIf="current==0" >
    <app-configure-sotn-service [orderServiceData]="orderServiceData"></app-configure-sotn-service>
  </div>

  <div class="steps order-site-style" *ngIf="current==1">
    <app-configure-sotn-site [orderServiceData]="orderServiceData"></app-configure-sotn-site>
  </div>

  <div class="steps" *ngIf="current==2">
    <app-sotn-order-service [orderServiceData]="orderServiceData"></app-sotn-order-service>
  </div>

  <nz-button-group>
    <button nz-button [disabled]="buttonDisabled" nzType="primary" routerLink="/ccvpn/selectOrderservice">
      <i nz-icon type="left"></i>
      < {{"back" | translate }}</button>
  </nz-button-group>

  <div class="next-previous">

    <div class="tipCls" [ngClass]="{'displayNone': !displayMsg}">
      Please fill all mandatory fields
    </div>

    <button nz-button [disabled]="buttonDisabled" nzType="primary" (click)="putnewSotnSiteData()" *ngIf="current == 2">
      <span>{{"done" | translate }}</span>
    </button>

    <button nz-button nzType="primary" nz-tooltip (click)="next()" *ngIf="current < 2">
      <span>{{"next" | translate }}
        <i class="anticon anticon-double-right"></i>
      </span>
    </button>

    <button nz-button [disabled]="buttonDisabled" nzType="primary" (click)="pre()" *ngIf="current > 0">
      <span>
        <i class="anticon anticon-double-left"></i> {{"previous" | translate }}</span>
    </button>
    <div class="tipCls" [ngClass]="{'displayNone': !displayMsg2}">
      {{tipMsg}}
    </div>
  </div>

</div>


<div *ngIf = "isMobile" >
  <nz-collapse nzAccordion>
      <div class="tipCls_mobile" [ngClass]="{'displayNone': !displayMsg}">
          *Mandatory fields to be filled
        </div>  
      <nz-collapse-panel id="collpase_vpn_panel" nzHeader='{{"configureSotnVpn" |  translate}}' [nzActive]="panels[0].active" (nzActiveChange) = "saveData($event,0)" >
           
          <div class="order-site-style">
            <app-configure-sotn-service [orderServiceData]="orderServiceData"></app-configure-sotn-service>
           
          </div>
           
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader='{{"configureSite" |  translate}}' id="collpase_site_panel" [nzActive]="panels[1].active" [nzDisabled]="panels[1].disabled" (nzActiveChange) = "saveData($event, 1)">

          <div class="">
            <app-configure-sotn-site [orderServiceData]="orderServiceData"></app-configure-sotn-site>
          </div>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader='{{"orderSummary" | translate}}' id="collpase_summary_panel" [nzActive]="panels[2].active" [nzDisabled]="panels[2].disabled" (nzActiveChange) = "saveData($event,2)">
          <div class="">
             
            <app-sotn-order-service [orderServiceData]="orderServiceData"></app-sotn-order-service>
            <div class="padding_button">
                <div class="tipCls_mobile_done" [ngClass]="{'displayNone': !displayMsg2}">
                  <i class="anticon anticon-spin anticon-loading"></i>{{tipMsg}}
                  </div>
            <button class="done_mobile" nz-button [disabled]="buttonDisabled" nzType="primary" (click)=" putnewSotnSiteData() ">
                <span>Done</span>
              </button>
              
              </div>
          </div>
      </nz-collapse-panel>


  </nz-collapse>
</div>