.slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: -16px; 
          position: sticky;
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: 0; 
  }
  
  .slideshow li span { 
          position: absolute;
      width: 100%;
      height: 100%;
      top: 2px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  
  
  
  .slideshow li:nth-child(1) span { 
      background-image: url(../../assets/images/ons1.png); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url(../../assets/images/ons2.png);
      animation-delay: 6s; 
      background-size: contain !important;
  }
  .slideshow li:nth-child(3) span { 
      background-image: url(../../assets/images/ons3.png);
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url(../../assets/images/ons4.png);   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url(../../assets/images/ons2.png);
      animation-delay: 24s; 
      background-size: contain !important;
  }
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
     100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
    //   100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }