.config-vpn-content{
    .config-vpn-buttons{
        padding-bottom:10px;
        display: flex;
        flex-direction: row-reverse;
        margin-right:20px;
        button {
            margin-right: 8px;
        }
    }

}
.btn_div
{    
    padding-bottom:10px;
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
}

nz-table
{
    th,tr,td,nz-spin,div,span
    {
        background: var(--primary);
        color: var(--on-primary) ;        
        .action
        {
            margin-left:10px;
        }
    }
    td{
        border-bottom: 1px solid #F7F8FC;
    }
    th{
        padding:5px;
        font-weight:bold;        
    }
    tr{
        border-left-color: var(--primary);
    }        
}