<div class="add-edit-site-modal">

    <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" nzWidth=1000 nzTitle="{{modalTitle}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <div class="table1">
        <div class="config-site-table1">
          <nz-table #editRowTable nzBordered [nzData]="products" [nzPageSize]="5">
      
            <thead>
              <tr>
                <th width="4%" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                <th width="16%">{{"siteName" | translate}}</th>
                <th width="16%">{{"description" | translate}}</th>
                <th width="16%">PostCode</th> 
                <th width="16%">Address</th>
                <!-- <th width="16%">Address</th> -->
                <th width="16%">VLAN</th>
                <!-- <th width="16%">Postal Code</th> -->
                <!-- <th width="12%">Email</th>               -->
                <!-- <th>Interface</th>
                <th>Subnet</th>              -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orderSite of editRowTable.data">
                <td width="4%" nzShowCheckbox [(nzChecked)]="orderSite.checked" [nzDisabled]="orderSite.disabled" (nzCheckedChange)="refreshStatus()"></td>
                <td width="16%">{{orderSite.siteName}}</td>
                <td width="16%">{{orderSite.description}}</td>
                <!-- <td width="16%">{{orderSite.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>  -->
                <!-- <td width="16%">{{orderSite.capacity}}</td>  -->
                <!-- <td width="16%">{{orderSite.site_address}}</td>  -->
                <!-- <td width="16%">{{orderSite.location}}</td>  -->
                <td width="16%">{{orderSite.zipCode}}</td> 
                <td width="12.5%">{{orderSite.site_address}}</td>
                <td width="11%">{{orderSite.sotn_VLAN}}</td>
                <!-- <td width="12%">{{orderSite.site_email}}</td>               -->
                <!-- <td>{{orderSite.interface}}</td>
                <td>{{orderSite.subnet}}</td>               -->
              </tr>
            </tbody>
          </nz-table>
        </div>
      
        <div>
          <span>{{"totalRecords" |  translate}}: {{total}}</span>
        </div>
      </div>
      
    </nz-modal>
  </div>
  
  
  <div class="config-vpn-content">  
    <div>
      <nz-table #nestedTable nzBordered [nzData]="vpnArray" [nzPageSize]="10">
        <thead>
          <tr>
            <th nzShowExpand></th>
            <th>{{"vpnName" | translate }}</th>
            <th>{{"type" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-template ngFor let-data [ngForOf]="nestedTable.data">
            <tr *ngFor="let data of nestedTable.data">
              <td nzShowExpand [(nzExpand)]="data.expand"></td>
              <td>{{data.vpnName}}</td>
              <td>{{data.vpnType}}</td>
            </tr>
  
            <tr [nzExpand]="data.expand">
              <td colspan="7">
                <div style="padding-left:30px;">
                  <div class="btn_div">
                    <button nz-button nzType="primary" (click)="showModalMiddle(data.vpnId)">{{"selectSites" | translate}}</button>
                  </div>  
                  <nz-table #innerTable nzBordered [nzData]="data.sites" nzSize="middle" [nzShowPagination]="false">
                    <thead (nzSortChange)="sort($event)" nzSingleSort>
                      <tr>
                        <th width="16.6%" nzShowSort nzSortKey="site_name">{{"siteName" | translate}}</th>
                        <th width="16.6%" nzShowSort nzSortKey="description">{{"description" | translate}}</th>
                        <!-- <th width="16.6%" nzShowSort nzSortKey="role">Role</th>  -->
                        <!-- <th width="16.6%" nzShowSort nzSortKey="capacity">Capacity</th> -->
                        <!-- <th nzShowSort nzSortKey="site_address">Address</th> -->
                        <!-- <th width="16.6%" nzShowSort nzSortKey="location">City</th> -->
                        <th width="16.6%" nzShowSort nzSortKey="zipCode">Postal Code</th>
                        <th width="16.6%" nzShowSort nzSortKey="site_address">Address</th>
                        <th width="16.6%" nzShowSort nzSortKey="sotn_VLAN">VLAN</th>
                        <!-- <th nzShowSort nzSortKey="site_email">Email</th> -->
                        <!-- <th nzShowSort nzSortKey="interface">Interface</th>
                        <th nzShowSort nzSortKey="subnet">Subnet</th> -->
                      </tr>
  
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of innerTable.data">
                          <td width="16.6%">{{data.site_name}}</td>
                          <td width="16.6%">{{data.description}}</td>
                          <!-- <td width="16.6%">{{data.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>  -->
                          <!-- <td width="16.6%">{{data.capacity}}</td>  -->
                          <!-- <td>{{data.site_address}}</td>  -->
                          <!-- <td width="16.6%">{{data.location}}</td>  -->
                          <td width="16.6%">{{data.zipCode}}</td> 
                          <td width="12.5%">{{orderSite.site_address}}</td>
                          <td width="11%">{{orderSite.sotn_VLAN}}</td>

                          <!-- <td>{{data.site_email}}</td>  -->
                        <!-- <td>{{data.siteName}}</td>
                             <td>{{data.role}}</td> 
                        <td>{{data.isCloudSite==="1" ? "Hub" : "Spoke"}}</td> -->
                        <!-- <td>{{data.interface}}</td>
                        <td>{{data.subnet}}</td> -->
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>