
.ant-layout, .ant-layout *, .body
:host ::ng-deep .ant-select-selection--single
{
    background: var(--primary);
    color: var(--on-primary); 

}

:host ::ng-deep  .ant-layout-header {
  
    padding: 0 10px !important;
   
  }

.body
{
    background: var(--primary);
    color: var(--on-primary); 
}

:host ::ng-deep .ant-layout, .ant-layout *, body 
{
    background: var(--primary);
}

.menu_style_border
{
    background: var(--primary); 
    border-style: outset;
    border-color: var(--menu-border)
    //border: 5px;
}

.menu_style
{
    background: var(--primary); 
   // border-style: outset;
    //border-color: blueviolet;
    //border: 5px;
}
.menu_style_font
{
    color: var(--on-primary);  
}

nz-layout {
    //background:none !important;
    background: var(--primary) !important;
    color: var(--on-primary);
    nz-header {
        background: var(--primary);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33) !important;
        border: 1px solid #e8e8e8 !important;
        ul {
            line-height: 60px !important;
            background: var(--primary);
            color: var(--on-primary);
            border-bottom: 0px;
            li {               
                .menuItemStyle
                {                    
                    font-weight: bold;
                    font-size:14px;
                    background: var(--menu-primary);
                    color: var(--on-primary);
                }
            }
        }
        
    }
    .btnDiv{
        display: flex;
        float:right;               
        margin-top:15px;
        //padding-right: 10px;
        padding-right: 10px;
        nz-button {
            margin-right:10px;
        }
        .ant-btn
        {
            margin-right:10px;
            color:var(--on-primary);
        }
    }
    .layoutCls {        
        padding: 20px 32px; 
        position:relative;        
        background:none;
    }
    .marginLeftCls
    {
        margin-left: 0px; 
    }
    .logo {
        background: var(--primary);
        color: var(--on-primary);
        position:fixed;
        left:30px;
        font-weight: bold;
        font-size:16px;
    }     
}

.ant-dropdown {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #e4d7219d;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1050;
    display: block;
    background: blue;
}

@media (max-width: 575px) {
    nz-layout { 
        .layoutCls {        
            padding: 5px 10px 5px 5px; 
            position:relative;        
            background:none;
            min-height: calc(~"100vh - 64px");
            background: var(--primary);
            //padding-right: 10px;

        }  
    }
    .header-icon{
        padding: 1%;
        font-size: 30px;
    }
    .ant-layout-header
    {
        width: 326px;
    }
    .ant-layout
    {
        width: 326px;
    }
  }

