<!--
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<nz-layout theme >
    <nz-header>
        <a class="header-icon" routerLink="/ccvpn">
            <i class="anticon anticon-home"></i>
        </a>
        <nz-dropdown [nzTrigger]="'click'" style="height:50px">
            <a class="header-icon"  nz-dropdown ><i class="anticon anticon-bars"></i>
                <i nz-icon type="down"></i>
            </a>
            <ul class="menu_style_border" theme nz-menu [nzMode]="'inline'" style="width: 100%;"  >
                <li nz-submenu *ngFor="let item1 of menuData">
                    <span title class="menu_style_font" theme>
                        <i nz-icon type="mail" ></i> {{item1.name | translate}} </span>
                    <ul class="menu_style" theme>
                        <li nz-menu-item *ngFor="let item of item1.subMenu">
                            <a class="menu_style_font" theme routerLink={{itemToLink[item]}}>
                                <span title>
                                    <span> {{item | translate}} </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-dropdown>
        <div class="btnDiv">
                <button nz-button nzType="primary" nz-tooltip (click)="changeLanguage()">
                  <span>{{btnTitle | translate}}</span>
                </button>

                <button nz-button nzType="primary" nz-tooltip (click)="changeTheme()">
                        <span>{{themeTitle | translate}}</span>
                </button>
                
        </div>

        
    </nz-header>
</nz-layout>

<nz-layout theme >
    <nz-layout class="layoutCls">
        <router-outlet></router-outlet>
    </nz-layout>
</nz-layout>