#map {
    height: calc(~"100vh - 300px");
    width:100%;   
}

 @media (max-width: 575px) {
    #map {
        height: calc(~"100vh - 250px");       
    }
    .popup-table{
        *{
            font-size: 2vw;  
        }
    }
  }    

  :host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
    background-color:var(--primary);
}

:host ::ng-deep .ant-select-dropdown-menu-item{
    color: var(--on-primary) ;
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection__rendered {
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection--single {
    background-color:var(--primary);
  
}

:host ::ng-deep .ant-select-selection-selected-value {

    color: var(--on-primary) ;

}
  :host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
}

:host ::ng-deep .ant-select-selection__placeholder
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-select-arrow {
  
 
    color:  var(--on-primary);
    font-size: 12px;
}
 