@import "./../../../node_modules/ng-zorro-antd/src/ng-zorro-antd.less";

@component-background :var(--primary);
@text-color : var(--on-primary);

.ant-layout, .ant-layout * {
    background: var(--primary);
}

.action{
    .bandwidth{
        padding-bottom:20px;
        nz-select{
            width:200px;
            padding-left:30px;            
            color: var(--on-primary);
            background: var(--primary);
            div
            {
                background: var(--primary);
            }
            .ant-select-selection__rendered
            {
                background: var(--primary);
            }
        }
    }
}
.site-configure{
    padding-top:20px;
    h3{
        padding-top:20px;
    }
}
.add-delete-buttons{
    padding-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--on-primary) !important;
    button {
        height:50px;
        margin:10px;
        background: var(--primary);
        font: normal normal 500 40px/normal "Aldrich", Helvetica, sans-serif;
        color:var(--on-primary);
        text-align: center;
        -o-text-overflow: clip;
        text-overflow: clip;
        //text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213) ;
        box-shadow: 0px 8px 0px var(--on-primary), 0px 4px 0px rgba(0,0,0,.4);
    
       
    }
}


.displayNone{
    display: none;
}

div {
    color: var(--on-primary);
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;  
}

h3{
    color: var(--on-primary);
    text-shadow: 1px 1px 2px var(--primary), 0 0 25px blue, 0 0 5px darkblue;
}
.selectEdge
{
    font-size:16px;
    font-weight:bold;
    text-shadow: 1px 1px 2px var(--primary), 0 0 25px blue, 0 0 5px darkblue;
    padding-bottom: 20px;
}
nz-table
{
    th,tr,td,nz-spin
    {
        background: var(--primary);
        color: var(--on-primary) ;
    }
        
}
nz-spin
{
    background: var(--primary);
    color: var(--on-primary) ;    
}

nz-button{
    background: var(--primary);
    width:200px;
}
.header1
{
    box-shadow: 0px 2px 0px var(--on-primary), 0px 2px 0px rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    color: var(--on-primary);
    text-shadow: 1px 1px 2px var(--primary), 0 0 25px blue, 0 0 5px darkblue;
    border: 2px solid;
    font-size: 40px; 
}

.header{
    -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal normal 500 64px/normal "Aldrich", Helvetica, sans-serif;
  color: var(--on-primary);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(128,141,147) , -1px 0 0 rgb(205,210,213) , -1px 2px 0 rgb(128,141,147) , -2px 1px 0 rgb(205,210,213) , -2px 3px 0 rgb(128,141,147) , -3px 2px 0 rgb(205,210,213) , -3px 4px 0 rgb(128,141,147) , -4px 3px 0 rgb(205,210,213) , -4px 5px 0 rgb(128,141,147) , -5px 4px 0 rgb(205,210,213) , -5px 6px 0 rgb(128,141,147) , -6px 5px 0 rgb(205,210,213) , -6px 7px 0 rgb(128,141,147) , -7px 6px 0 rgb(205,210,213) , -7px 8px 0 rgb(128,141,147) , -8px 7px 0 rgb(205,210,213) ;
  border: 2px solid;
  height:95px;
  box-shadow: 0px 2px 0px var(--on-primary), 0px 2px 0px rgba(0,0,0,.4);
}

.footer{
  color: var(--on-primary);  
  border: 2px solid;
  height:20px;
  box-shadow: 0px 2px 0px var(--on-primary), 0px 2px 0px rgba(0,0,0,.4); 
  padding:10px;
  box-sizing: content-box; 
  text-align: center;  
}

.content{
    box-shadow: 0px 2px 0px var(--on-primary), 0px 2px 0px rgba(0,0,0,.4);
    border: 2px solid;
    margin-top:20px;    
    padding:10px;
    padding-top:20px;
    height: calc(~"100vh - 300px");  
    
}
  
nz-option-container{
    background: var(--primary);
    color: var(--on-primary) ;
}

.ant-select-dropdown
{
    background: var(--primary) !important;
}
