<div class="mainDiv">
  <div class="header">
    Push Image Model to Edge
  </div>


  <div class="content">
    <div class="action">
      <div class="bandwidth">
        <span class="selectEdge">Select Edge: </span>

        <nz-select theme [(ngModel)]="edgeSelectedValue" nzShowSearch nzAllowClear nzPlaceHolder="Select Edge" (ngModelChange)="selectedEdge($event)">
          <nz-option *ngFor="let item of edges" nzValue={{item.value}} nzLabel={{item.name}}>
          </nz-option>
        </nz-select>
      </div>
    </div>


    <div class=selectEdge>
      Select Model
    </div>

    <div theme class="tableDiv">
      <div class="config-site-table">
        <nz-table #editRowTable nzBordered [nzData]="modelArray" [nzShowPagination]="false">

          <thead>
            <tr>
              <th width="3%">
              </th>
              <th nzShowSort nzSortKey="modelName">Model Name</th>
              <th nzShowSort nzSortKey="createdTime">Created Time</th>
              <th nzShowSort nzSortKey="description">{{"description" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let model of modelArray;let i=index;">
              <td>
                <label nz-radio id="{{i}}" [ngModel]="model.checked" (ngModelChange)="selectedData($event,i)"></label>
              </td>
              <td>{{model.modelName}}</td>
              <td>{{model.createdTime}}</td>
              <td>{{model.description}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

    <div class="add-delete-buttons">
      <button nz-button nzType="primary" (click)="sendModelInfo()">Push</button>
    </div>

    <div class="add-delete-buttons">
      <div [ngClass]="{'displayNone': !displayMsg}">Model Uploaded SuccessFully</div>
    </div>
  </div>
  <div class="footer">
    Huawei Technologies India Pvt Limited
  </div>
</div>