/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
    font: 700 18px/18px "思源黑体";
    color: #4c5e70;
    margin-bottom: 18px; 
}
hr {
    border: none;
    height: 2px;
    background-color: #dce1e7;
    margin-bottom: 20px;
}
.action {
    margin-bottom: 15px;
    padding: 28px;
    background: #ffffff;
    position: relative;
    span {
        display: inline-block;
        font: 700 14px "Arial";
        color: #3C4F8C;
        margin-right: 5px;
    }
    nz-dropdown {
        vertical-align: middle;
        background-color:#ffffff;
        :hover{
            border-color: #48C6EF;
        }
        button {
            width: 165px;
            height: 42px;
            background-color:#ffffff;
            text-align: left;
            border-color: #EEEEEE;
            span {
                font-weight: 400;
                color: #3C4F8C;
                display: inline-block;
                width: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 2px;
            }
            i {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    //        //下拉框中的样式在style.less中，下拉框是在body中额外临时生成的
    .create {
        position: absolute;
        right: 3%;
        top:50%;
        width:116px;
        height:42px;
        background:linear-gradient(90deg,rgba(99,194,246,1) 0%,rgba(62,155,255,1) 100%);
        border-radius:2px;
        margin-top: -15px;
        span {
            color: #fff;
            font-weight: 400;
            font-size: 18px;
        }
        .anticon-plus-circle-o{
            font-size: 18px;
        }
    }
    .create.ant-btn.ant-btn-primary{
        border: none;
    }

}
.top-num{
    overflow: auto;
}
.top-list{
    position: relative;
    width:360px;
    height:160px;
    margin: 15px 15px 30px 15px;
    float: left;
    background:linear-gradient(90deg,rgba(16,174,222,1) 0%,rgba(43,206,202,1) 100%);
    box-shadow:0px 10px 15px 2px rgba(222,222,222,1);
    border-radius:2px;
}
.top-list .round{
    position: absolute;
    width:80px;
    height:80px;
    line-height: 80px;
    text-align: center;
    top:50%;
    left: 10px;
    margin-top: -40px;
    background:#E0EDFF;
    border:2px solid rgba(224,237,255,1);
    border-radius: 50%;
    font-size:18px;
    font-family:ArialMT;
    color:#3C4F8C;
}
.top-list .top-list-text{
    position: absolute;
    text-align: right;
    height: 40px;
    line-height: 20px;
    top:50%;
    margin-top: -20px;
    right: 20px;
    color: #fff;
}
.list {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    nz-table {
        tbody {
            td {
                span.active {
                    font-size: 14px;
                    color: #147dc2;
                }
                span.closed {
                    font-size: 14px;
                    color: red;
                }
                span.onboarding{
                    font-size: 12px;
                    color: #147dc2;
                }
                span.updating{
                    font-size: 12px;
                    color: blue;
                }
                span.deleting {
                    font-size: 12px;
                    color: red;
                }
                span.creating {
                    font-size: 12px;
                    color: green;
                }
                span.scaling {
                    font-size: 12px;
                    color: purple;
                }
                span.healing {
                    font-size: 12px;
                    color: orangered;
                }
                i.anticon {
                    cursor: pointer;
                    font-size: 18px;
                    padding: 2px;
                    &:hover{
                        color: #147dc2;
                    }
                }
                .cannotclick {
                    pointer-events: none;
                    color: #aaa;
                    opacity: 0.6;
                }
            }
            tr.childtr {
                td {
                    font-size: 12px;
                    color: #147dc2;
                }
            }
        }
    }
}


.detailComponent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    overflow-y: auto;
    padding: 20px 32px;
    z-index: 3;
}
.createComponent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    overflow-y: auto;
    padding: 20px 32px;
    z-index: 3;
}
/*2019.01.14*/
.e2eColor{
    color: #5B45E7;
}
.nsColor{
    color: #F96D7D;
}
.ccvpnColor{
    color: #3E86EC;
}
.sotnColor{
    color: #FFB629;
}
.select-list{
    width: 280px;
    height: 32px;
    line-height: 32px;
    margin: 25px auto;
}
.select-list>span{
    text-align: left;
    line-height: 32px;
}

