/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 20px;
}
.action {
  margin-bottom: 20px;
}
.action span {
  display: inline-block;
  font: 700 14px "Arial";
  color: #4c5e70;
}
.action nz-dropdown {
  vertical-align: middle;
}
.action nz-dropdown :hover {
  border-color: #147dc2;
}
.action nz-dropdown button {
  width: 165px;
  height: 30px;
  background-color: #eceff4;
  text-align: left;
  border-color: #9fa9ab;
}
.action nz-dropdown button span {
  font-weight: 400;
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
}
.action nz-dropdown button i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.action .create {
  float: right;
  height: 30px;
  padding: 0 10px;
}
.action .create span {
  color: #fff;
  font-weight: 400;
}
.list {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.list nz-table tbody td span.active {
  font-size: 14px;
  color: #147dc2;
}
.list nz-table tbody td span.closed {
  font-size: 14px;
  color: red;
}
.list nz-table tbody td span.onboarding {
  font-size: 12px;
  color: #147dc2;
}
.list nz-table tbody td span.updating {
  font-size: 12px;
  color: blue;
}
.list nz-table tbody td span.deleting {
  font-size: 12px;
  color: red;
}
.list nz-table tbody td span.creating {
  font-size: 12px;
  color: green;
}
.list nz-table tbody td span.scaling {
  font-size: 12px;
  color: purple;
}
.list nz-table tbody td span.healing {
  font-size: 12px;
  color: orangered;
}
.list nz-table tbody td i.anticon {
  cursor: pointer;
  font-size: 18px;
  padding: 2px;
}
.list nz-table tbody td i.anticon:hover {
  color: #147dc2;
}
.list nz-table tbody td .cannotclick {
  pointer-events: none;
  color: #aaa;
  opacity: 0.6;
}
.list nz-table tbody tr.childtr td {
  font-size: 12px;
  color: #147dc2;
}
.detailComponent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
  overflow-y: auto;
  padding: 20px 32px;
  z-index: 3;
}
.createComponent {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
  overflow-y: auto;
  padding: 20px 32px;
  z-index: 3;
}
