

<div *ngIf = "!isMobile" theme class="main">
  <div class="stepper">
    <nz-steps theme [nzCurrent]="current" nzSize="small">
      <nz-step nzTitle='{{"configureSite" |  translate}}' ></nz-step>
      <nz-step nzTitle='{{"configureVpn" | translate}}'></nz-step>
      <nz-step nzTitle='{{"configureBandwidth" | translate}}' ></nz-step>
      <nz-step nzTitle='{{"configureVas" | translate}}' ></nz-step>
      <nz-step nzTitle='{{"orderSummary" | translate}}' ></nz-step>
    </nz-steps>
  </div>

  <div class="steps order-site-style" *ngIf="current==0">
    <app-configuresite [orderServiceData]="orderServiceData"></app-configuresite>
  </div>

  <div class="steps config-vpn" *ngIf="current==1">
    <app-configurevpn [orderServiceData]="orderServiceData"></app-configurevpn>    
  </div>

  <div class="steps" *ngIf="current==2">
    <app-bandwidth [orderServiceData]="orderServiceData"></app-bandwidth>
  </div>

  <div class="steps" *ngIf="current==3">
    <app-vas [orderServiceData]="orderServiceData"></app-vas>
  </div>

  <div class="steps" *ngIf="current==4">
    <app-ordered-service [orderServiceData]="orderServiceData"></app-ordered-service>
  </div>


  <nz-button-group *ngIf ="!isMobile">
      <button nz-button nzType="primary" routerLink="/ccvpn/selectOrderservice"><i nz-icon type="left"></i> <- {{"back" | translate }}</button>
  </nz-button-group> 

  <div class="next-previous">

    <div class="tipCls" [ngClass]="{'displayNone': !displayMsg}">
        Please fill all mandatory fields 
    </div>

    <button nz-button nzType="primary" (click)="finalPostOrderServiceData()" *ngIf="current === 4">
      <span>{{"done" | translate }}</span>
    </button>
    
    <button nz-button nzType="primary" nz-tooltip (click)="next()" *ngIf="current < 4"> 
      <span>{{"next" | translate }} <i class="anticon anticon-double-right"></i></span>
    </button>

    <button nz-button  nzType="primary" (click)="pre()" *ngIf="current > 0">
      <span><i class="anticon anticon-double-left"></i> {{"previous" | translate }}</span>
    </button>
    <div class="tipCls" [ngClass]="{'displayNone': !displayMsg2}">
     Service creation initiated
    </div>
  </div>

 
</div>



<div *ngIf = "isMobile" class="main">
    <nz-collapse nzAccordion>
        <nz-collapse-panel nzHeader='{{"configureSite" |  translate}}' id="collpase_panel" [nzActive]="panels[0].active" (nzActiveChange) = "saveData($event,0)">
            <div class="order-site-style">
                <app-configuresite [orderServiceData]="orderServiceData"></app-configuresite>
            </div>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader='{{"configureVpn" | translate}}' id="collpase_panel_vpn" [nzActive]="panels[1].active" [nzDisabled]="panels[1].disabled" (nzActiveChange) = "saveData($event, 1)">

            <div class="config-vpn">
                <app-configurevpn *ngIf="panels[1].active" [orderServiceData]="orderServiceData"></app-configurevpn>
            </div>
          
        </nz-collapse-panel>



        <nz-collapse-panel nzHeader='{{"configureBandwidth" | translate}}' [nzActive]="panels[2].active" id="collpase_panel_bandwidth"  [nzDisabled]="panels[2].disabled" (nzActiveChange) = "saveData($event,2)">
            <div class="">
                <app-bandwidth *ngIf="panels[2].active"  [orderServiceData]="orderServiceData"></app-bandwidth>
            </div>
        </nz-collapse-panel>


        <nz-collapse-panel nzHeader='{{"configureVas" | translate}}' [nzActive]="panels[3].active" id="collpase_panel_cam" [nzDisabled]="panels[3].disabled" (nzActiveChange) = "saveData($event,3)">
            <div class="">
                <app-vas *ngIf="panels[3].active" [orderServiceData]="orderServiceData"></app-vas>
            </div>
        </nz-collapse-panel>


        <nz-collapse-panel nzHeader='{{"orderSummary" | translate}}' [nzActive]="panels[4].active" [nzDisabled]="panels[4].disabled" (nzActiveChange) = "saveData($event,4)">
            <div class="">
                <app-ordered-service *ngIf="panels[4].active" [orderServiceData]="orderServiceData"></app-ordered-service>
               <div class="done-pos">
                  <div class="tipCls_mobile" [ngClass]="{'displayNone': !displayMsg2}">
                      Service creation initiated
                  </div>
                  <div>
                      <button  nz-button nzType="primary" (click)=" finalPostOrderServiceData()" >
                          Done
                      </button>
                  </div>
                </div>
            </div>
           
            
        </nz-collapse-panel>


    </nz-collapse>
</div>