<div class="main">
    <nz-collapse nzAccordion>
        <nz-collapse-panel nzHeader={{"configureSite" |  translate}} [nzActive]="panels[0].active" (nzActiveChange) = "saveData($event,0)">
            <div class="order-site-style">
                <app-configuresite [orderServiceData]="orderServiceData"></app-configuresite>
            </div>
            <div class="next-previous">
                <div class="tipCls" [ngClass]="{'displayNone': !displayMsg}">
                    Please fill all mandatory fields
                </div>
                <button nz-button nzType="primary" (click)="enableNext(1)">
                    <span>Enable Next</span>
                </button>
            </div>
        </nz-collapse-panel>

        <nz-collapse-panel nzHeader='{{"configureVpn" | translate}}' [nzActive]="panels[1].active" [nzDisabled]="panels[1].disabled" (nzActiveChange) = "saveData($event, 1)">

            <div class="config-vpn">
                <app-configurevpn *ngIf="panels[1].active" [orderServiceData]="orderServiceData"></app-configurevpn>
            </div>
        </nz-collapse-panel>



        <nz-collapse-panel nzHeader='{{"configureBandwidth" | translate}}' [nzActive]="panels[2].active" [nzDisabled]="panels[2].disabled" (nzActiveChange) = "saveData($event,2)">
            <div class="">
                <app-bandwidth *ngIf="panels[2].active" [orderServiceData]="orderServiceData"></app-bandwidth>
            </div>
        </nz-collapse-panel>


        <nz-collapse-panel nzHeader='{{"configureVas" | translate}}' [nzActive]="panels[3].active" [nzDisabled]="panels[3].disabled" (nzActiveChange) = "saveData($event,3)">
            <div class="">
                <app-vas *ngIf="panels[3].active" [orderServiceData]="orderServiceData"></app-vas>
            </div>
        </nz-collapse-panel>


        <nz-collapse-panel nzHeader='{{"orderSummary" | translate}}' [nzActive]="panels[4].active" [nzDisabled]="panels[4].disabled" (nzActiveChange) = "saveData($event,4)">
            <div class="">
                <app-ordered-service *ngIf="panels[4].active" [orderServiceData]="orderServiceData"></app-ordered-service>
            </div>
        </nz-collapse-panel>


    </nz-collapse>
</div>