.main {
    margin:30px;
    height: calc(~"100vh - 165px"); 
    .stepper{
        height:100px;        
        padding:10px;
        border-bottom: 1px solid #F7F8FC;
    }
    .steps{
        overflow: auto !important; 
        height: calc(~"100vh - 300px"); 
        padding-top:20px; 
    }
    .order-site-style{
        padding:20px;    

    }
    
    .next-previous{
        button{
            margin-right: 8px;            
        }
        .tipCls{
            position:absolute;
            bottom:100px;  
            margin-top: 30px;
            //margin-left: calc(50% - 80px);
            padding: 1em 14px;
            text-align: center;
            -webkit-transition: all linear 0.15s;
            transition: all linear 0.15s;
            border-radius: 3px;
           background: rgb(186, 245, 240);
            font-size: 14px;
            
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 1px;
            color: #FF0000;
            z-index: 0;       
        }
        
        display: flex;
        flex-direction: row-reverse;
        margin-right:20px;
        bottom:20px;
    }
}




:host ::ng-deep .ant-steps-item-title:after
{
    height:5px;

   
}
:host ::ng-deep .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
    background-color: var(--stepper-item-finish);

}


:host ::ng-deep .anticon:before {
    display: flex;
    font-family: "anticon" !important;
    color :var(--icon-color);    
    font-weight: 400;
}

:host ::ng-deep .ant-pagination-prev .ant-pagination-item-link,
:host ::ng-deep .ant-pagination-next .ant-pagination-item-link,
:host ::ng-deep .ant-pagination-item,
:host ::ng-deep .ant-select-selection--single,
:host ::ng-deep .ant-table-placeholder,
:host ::ng-deep .ant-table-row-expand-icon,
:host ::ng-deep .ant-input-number-input
{
    color: var(--on-primary);
    background-color: var(--primary);
}

:host ::ng-deep .ant-btn.disabled,
:host ::ng-deep .ant-btn[disabled],
:host ::ng-deep .ant-btn.disabled:hover,
:host ::ng-deep .ant-btn[disabled]:hover,
:host ::ng-deep .ant-btn.disabled:focus,
:host ::ng-deep .ant-btn[disabled]:focus,
:host ::ng-deep .ant-btn.disabled:active,
:host ::ng-deep .ant-btn[disabled]:active,
:host ::ng-deep .ant-btn.disabled.active,
:host ::ng-deep .ant-btn[disabled].active
{
    background-color: var(--on-disabled-button-bgcolor);//rgb(102,102,102);
    color: var(--on-disabled-button-fntcolor) //#222;
}

:host ::ng-deep .ant-table-placeholder
{
    border-bottom: 1px solid #e8e8e8;  
}

:host ::ng-deep .ant-checkbox-wrapper
{
    font-size:14px;
}

 :host ::ng-deep .ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title,
 :host ::ng-deep .ant-steps-item-title,
 :host ::ng-deep .ant-checkbox-wrapper
 {
    color: var(--on-primary);
}

 :host ::ng-deep .ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title {
    color: #b3b3b3;
     font-weight: bold;
    
}
 :host ::ng-deep  .ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
    color:  var(--on-lables) ;
    font-weight: bolder;
    
}
:host ::ng-deep .ant-steps-small .ant-steps-item-title {
    font-size: 18px;
    line-height: 24px;
    padding-right: 12px;
    position: relative;
}

 :host ::ng-deep .ant-steps-item-wait .ant-steps-item-icon {
    border-color:  #dbd9d9;
    background:  #dbd9d9;
    height:25px;
}
 :host ::ng-deep .ant-steps-item-process .ant-steps-item-icon {
    background-color: rgba(148, 204, 92, 1);
border-color:rgba(148, 204, 92, 1);
height:25px;
}

:host ::ng-deep .ant-steps-item-finish .ant-steps-item-icon {
    border-color:rgba(148, 204, 92, 1);
    background-color: rgba(148, 204, 92, 1);
    height:25px;
}


.displayNone
{
    display:none;
}


@media (max-width: 575px) {
    .main {
        height: calc(~"100vh - 70px");
        overflow: auto;
        margin:5px;
        .ant-collapse-content 
        {
            padding:1px;
        }
        .order-site-style{
            padding:1px;    
    
        }
    }
    .done-pos{
        display: flex;
        justify-content: flex-end;
        position: relative;
    }    
    .tipCls_mobile{ 
        position: absolute!important;
        bottom: 32px;
        padding: 6px;
        text-align: center;
        -webkit-transition: all linear 0.15s;
        transition: all linear 0.15s;
        border-radius: 5px;
        background: rgba(156, 250, 245, 0.932);
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 7px;
        text-decoration: none;
        letter-spacing: 1px;
        color: #f53d06;
        z-index: 2;
        
    }

    :host ::ng-deep .ant-collapse > .ant-collapse-item > .ant-collapse-header {

        background-color: var(--collapse-color-info);
        color: var(--collapse-header);
   
   }
} 

:host ::ng-deep .ant-collapse-content  .ant-collapse-content-box
{
    background: var(--primary);

}

:host ::ng-deep .ant-collapse-content {
  
    background-color:var(--primary);
}
