.ant-layout, .ant-layout *,
:host ::ng-deep .ant-select-selection--single
{
    background: var(--primary);
    color: var(--on-primary); 
}

nz-layout {
    //background:none !important;
    background: var(--primary) !important;
   
    color: var(--on-primary);
    nz-sider {
        overflow: auto !important; 
        height: calc(~"100vh - 70px");        
        left: 0 !important;
        background: var(--primary);
        color: var(--on-primary);
        .ulClass
        {
            height:calc(~"100vh - 71px");
            background: var(--primary);
            color: var(--on-primary);
        }
        ul {

            li {
                margin: 0;
                font-size: 14px;
                background: var(--primary);
                color: var(--on-primary); 
                a{
                    color: var(--on-primary);  
                }               
                span {
                    font-size: 14px;
                    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: bold;
                }
                i {
                    width: 14px;
                    height: 14px;
                }
                ul {
                    li{
                        background: var(--primary);
                        color: var(--on-primary);
                        font-weight: bold;
                        font-size:14px;
                    }
                }
            }
            hr {
                margin: 0 auto;
                background: var(--primary);
                height: 1px;
                border: none;
                width: 80%;
            }
        }


    }
    nz-header {
        background: var(--primary);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33) !important;
        border: 1px solid #e8e8e8 !important;
        ul {
            line-height: 60px !important;
            background: var(--primary);
            color: var(--on-primary);
            border-bottom: 0px;
            li {               
                .menuItemStyle
                {                    
                    font-weight: bold;
                    font-size:14px;
                    background: var(--primary);
                    color: var(--on-primary);
                }
            }
        }
        
    }
    .layoutCls {        
        padding: 20px 32px; 
        position:relative;        
        background:none;
    }
    .marginLeftCls
    {
        margin-left: 0px; 
    }
    .logo {
        background: var(--primary);
        color: var(--on-primary);
        position:fixed;
        left:30px;
        font-weight: bold;
        font-size:16px;
    }     
}
