<!--
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<nz-layout theme *ngIf="router != '/ms/data-monitor-cmcc'">
  <nz-header>
    <ul nz-menu theme [nzMode]="'horizontal'" class="ulStyle" style="padding-left:300px">
      <div class="logo">CCVPN</div>
      <li nz-menu-item nzSelected (click)="changeSubMenu('home')">
        <a id="home" routerLink="/ccvpn/home">
          <span title>
            <span class="menuItemStyle"> {{"Home" | translate}} </span>
          </span>
        </a>
      </li>
      <li nz-menu-item (click)="changeSubMenu('orderService')">
        <a id="orderService" routerLink="/ccvpn/selectOrderservice">
          <span title>
            <span class="menuItemStyle"> {{"OrderService" | translate}} </span>
          </span>
        </a>
      </li>
      <li nz-menu-item (click)="changeSubMenu('manageService')">
        <a id="manageService" routerLink="/ccvpn/os/viewOrderedService">
          <span title>
            <span class="menuItemStyle"> {{"ManageService" | translate}} </span>
          </span>
        </a>
      </li>
      <li nz-menu-item (click)="changeSubMenu('monitorService')">
        <a id="monitorService" routerLink="/ccvpn/ms/data-monitor">
          <span title>
            <span class="menuItemStyle"> {{"MonitorService" | translate}} </span>
          </span>
        </a>
      </li>
    </ul>

    <nz-select style="position:absolute;top:16px;right:120px;" nzShowSearch nzDropdownClassName="ant-select-dropdown-ccvpn" [(ngModel)]="selectLanguage"
      (ngModelChange)="changeLanguage(selectLanguage)">
      <nz-option *ngFor="let item of Language" nzValue="{{item}}" nzLabel="{{item | translate}}"></nz-option>
    </nz-select>

    <nz-select style="position:absolute;top:16px;right:20px;" nzShowSearch nzDropdownClassName="ant-select-dropdown-ccvpn" [(ngModel)]="selectedTheme"
      (ngModelChange)="changeTheme(selectedTheme)">
      <nz-option *ngFor="let item of Themes" nzValue="{{item}}" nzLabel="{{item | translate}}"></nz-option>
    </nz-select>

  </nz-header>
</nz-layout>

<nz-layout theme>
  <nz-sider *ngIf="router != 'ccvpn/ms/data-monitor-cmcc'" nzWidth={{siderWidth}} nzCollapse=false nzCollapseWidth=0>
    <ul nz-menu theme class="ulClass" [nzMode]="'inline'" style="width: 260px;">
      <li nz-submenu [nzOpen]="true">
        <span title>
          <i class="anticon {{iconCls}}"></i> {{menuHeader | translate}} </span>
        <ul style="width:258px;">
          <li nz-menu-item *ngFor="let item of subMenu">
            <a id="Active" routerLink={{itemToLink[item]}}>
              <span title>
                <span> {{item | translate}} </span>
              </span>
            </a>
          </li>
        </ul>
      </li>

    </ul>

  </nz-sider>
  <nz-layout [ngClass]="{'marginLeftCls': siderCollapse,'layoutCls': router != 'ccvpn/ms/data-monitor-cmcc'}" class1="layoutCls">
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>