#mynetwork {
    width: 60%;
    height: calc(~"100vh - 300px");
    border: 1px solid lightgray;
    margin-right: 40px;
    background-color: #333333;
}

@media (max-width: 575px) {
#mynetwork {
    width: 98%;
    height: 200px;        
}
#nodeDetails{       
    margin-top:10px;
    .fontCls{
        font-weight: bold;
    }        
}


}    
:host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
    background-color:var(--primary);
}

:host ::ng-deep .ant-select-dropdown-menu-item{
    color: var(--on-primary) ;
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection__rendered {
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection--single {
    background-color:var(--primary);
  
}

:host ::ng-deep .ant-select-selection-selected-value {

    color: var(--on-primary) !important ;

}

@media only screen and (min-width: 600px) {    
.flexDiv {
    display: flex!important; 
}
}
@media only screen and (min-width: 768px) {    
.flexDiv {
    display: flex!important; 
}  
}

.font-size{
    font-size: 17px;
}
.font-weight{
    font-weight:bold;
}

.refreshBtn{
    right: 580px;
    position: absolute;
    top: 35px;
    z-index: 1
}

:host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
}

:host ::ng-deep .ant-select-selection__placeholder
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-select-arrow {
  
 
    color:  var(--on-primary);
    font-size: 12px;
}


.popup-table-row
{
    color: aqua;
}
