<div class="divCls">
    <nz-form-label class= "colm-s-1 lblCls" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"subscriptionType" | translate}}</nz-form-label>
    <nz-select class= "colm-s-2" [(ngModel)]="selectedSubscriptionType" (ngModelChange)="getServiceInstanceList($event)" nzAllowClear
        nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of serviceSubscriptionList" [nzValue]="option.serviceType" [nzLabel]="option.serviceType"></nz-option>

    </nz-select>


    <nz-form-label class ="colm-s-1 lblCls" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"serviceInstance" | translate}}</nz-form-label>
    <nz-select class= "colm-s-2 " [(ngModel)]="selectedServiceInstance" (ngModelChange)="getSelectedsubscriptionInfo($event)"
        nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of serviceInstanceList" [nzValue]="option.serviceInstance" [nzLabel]="option.serviceInstancename"></nz-option>
    </nz-select>
</div>

<div class="flexDiv">   
    <div id="mynetwork"  class="colm-s-3"></div>
    <div class="colm-s-4"><div id="nodeDetails"></div></div>
</div>
