<!--
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<div class="content">
    <!-- <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="Alarm Chart" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
          <app-line [initData]="alarmChartInitBig" [chartData]="alarmChartDataBig"></app-line>
      </nz-modal> -->
    <div class="chart">
        <div class="select">
            <span>Report Time: </span>
            <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>

            <button class="search" nz-button [nzType]="'primary'" (click) = "getPerformanceFormData()"><i class="anticon anticon-search"></i><span>Search</span></button>
        </div>
    </div>
    <div class="tablelist">
        <nz-table #nzTable [nzData]="list" [nzPageSize]="10" nzShowSizeChanger [nzPageSizeOptions]="[5,10,15,20]"
            nzSize="middle">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr>
                    <th nzWidth="5%">NO</th>
                    <th nzWidth="20%">Source Name</th>
                    <th nzWidth="20%">Event Name</th>
                    <th nzWidth="20%">ReportingEntityName</th>
                    <th nzWidth="15%">Report Time</th>
                    <th nzWidth="5%">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index"> -->
                <tr *ngFor="let item of nzTable.data; let i = index; ">
                    <td>{{i+1}}</td>
                    <td>{{item.sourceName}}</td>
                    <td>{{item.eventName}}</td>
                    <td>{{item.reportingEntityName}}</td>
                    <td>{{item.startEpochMicrosec | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td><a class="action" (click)="detailShow(item)"><i class="details"></i></a></td>
                </tr>
                <!-- </ng-template> -->
            </tbody>
        </nz-table>
    </div>
</div>