.content .title {
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  height: 106px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0;
}
.content .title ul {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
.content .title ul li {
  list-style: none;
  padding-left: 32px;
  width: 100%;
  border-left: 1px solid #eceff4;
}
.content .title ul li h5 {
  font: 500 14px "Arial";
  color: #3d4d65;
}
.content .title ul li p {
  font: 500 24px "Arial";
  color: #3fa8eb;
  margin-bottom: 0;
}
.content .title ul li:nth-child(1) {
  border: none;
}
.content .chart {
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 70px;
}
.content .chart .select {
  padding: 20px  20px 20px 0px;
  width: 70%;
  float: left;
}
.content .chart .select span {
  display: inline-block;
  font: 700 14px "Arial";
  color: #4c5e70;
}
.content .chart .select .search {
  margin-left: 20px;
  height: 30px;
  padding: 0 10px;
}
.content .chart .select .search span {
  color: #fff;
  font-weight: 400;
}
.content .tablelist {
  background-color: #fff;
  padding: 24px 10px 0px;
  border-radius: 0 0 5px 5px;
}
.content .tablelist .action {
  padding: 10px 0 0 20px;
}
.content .tablelist .action .details {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../../assets/images/icon.png) center -113px;
}
.content .tablelist .action .details:hover {
  background: url(../../../assets/images/icon.png) no-repeat center -128px;
}
