.content {
    .title {
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        height: 106px;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0;
        ul {
            display: flex;
            display: -webkit-flex; 
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
            li {
                list-style: none;
                padding-left: 32px;
                width: 100%;
                border-left: 1px solid #eceff4;
                h5 {
                    font: 500 14px "Arial";
                    color: #3d4d65;
                }
                p {
                    font: 500 24px "Arial";
                    color: #3fa8eb;
                    margin-bottom: 0;
                }
            }
            li:nth-child(1){
                border: none;
            }
        }
    }
    .chart {
        // background-color: #fff;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        height: 70px;
        .select {
            padding: 20px  20px 20px 0px;
            width: 70%;
            float: left;
            span {
                display: inline-block;
                font: 700 14px "Arial";
                color: #4c5e70;
            }
            .search {
                margin-left: 20px;       
                height: 30px;
                padding: 0 10px;
                span {
                    color: #fff;
                    font-weight: 400;
                }
            }
            // nz-dropdown {
            //     margin-right: 20px;
            //     a {
            //         font: 700 12px "Arial";
            //         color: #3d4d65;
            //         &:hover {
            //             color: #3fa8eb;
            //         }
            //     }
            // }
        }
        // .AlarmChart {
        //     // height: 0px;
        //     // border-bottom: 1px solid #f5f5f5;
        //     // transition: all 0.3s linear;
        //     width: 25%;
        //     padding-top: 7px;
        //     float: left;
        // }
        // .alarmChart-active {
        //     height: 386px;
        // }
        // .open-close {
        //     width: 50px;
        //     height: 25px;
        //     position: absolute;
        //     left: 50%;
        //     bottom: 0px;
        //     transform: translate(-25px,0);
        //     border: none;
        //     outline: none;
        //     cursor: pointer;
        //     background-color: #fff;
        //     background: url(../../../assets/images/open-close.png) no-repeat center -27px;
        //     &:hover {
        //         background: url(../../../assets/images/open-close.png) no-repeat center -79px;
        //     }
        // }
        // .open-close-active {
        //     background: url(../../../assets/images/open-close.png) center -1px;
        //     &:hover {
        //         background: url(../../../assets/images/open-close.png) no-repeat center -53px;
        //     }
        // }
    }
    .tablelist {
        background-color: #fff;
        padding: 24px 10px 0px;
        border-radius: 0 0 5px 5px;
        .action{
            padding: 10px 0 0 20px;
            .details{
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(../../../assets/images/icon.png) center -113px;
                &:hover {
                    background: url(../../../assets/images/icon.png) no-repeat center -128px;
                }
            }
        }
    }
}