/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 20px;
}
.select {
  margin-bottom: 20px;
}
.select span {
  display: inline-block;
  font: 700 14px "Arial";
  color: #4c5e70;
}
.select nz-dropdown {
  vertical-align: middle;
}
.select nz-dropdown :hover {
  border-color: #147dc2;
}
.select nz-dropdown button {
  width: 165px;
  height: 30px;
  background-color: #eceff4;
  text-align: left;
  border-color: #9fa9ab;
}
.select nz-dropdown button span {
  font-weight: 400;
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
}
.select nz-dropdown button i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.select .submit {
  margin-left: 20px;
  vertical-align: middle;
  height: 30px;
  padding: 0 10px;
}
.select .submit span {
  color: #fff;
  font-weight: 400;
}
.content {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
}
