<div class = "desktop" *ngIf= "!isMobile">
<form autocomplete="off" [formGroup]="validateForm">

  <div style="display: flex; justify-content: space-around;">
    <div class="sotn-form">
      <nz-form-item  class="mar-0x">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serviceName" ><span class="form-lable-font"> {{"name" |  translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="serviceName" id="serviceName" [(ngModel)]="siteData.serviceName">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mar-0x">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description"><span class="form-lable-font">{{"description" | translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="description" id="description" [(ngModel)]="siteData.description">
        </nz-form-control>
      </nz-form-item>
        
       <nz-form-item class="mar-0x  child">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cir"><span class="form-lable-font">CIR</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="cir" id="cir" [(ngModel)]="siteData.cir"  (keypress)="numberOnly($event)">
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item class="mar-0x  child">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="eir"><span class="form-lable-font">EIR</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="eir" id="eir" [(ngModel)]="siteData.eir"  (keypress)="numberOnly($event)">
          </nz-form-control>
        </nz-form-item>

    </div>
    <div class="sotn-form ">
      <nz-form-item class="mar-0x">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="highAvailability"><span class="form-lable-font">{{"highAvailability" | translate}}</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
           
             <nz-radio-group formControlName="highAvailability" id="highAvailability"  
            [(ngModel)]="siteData.highAvailability">
              <label nz-radio nzValue="yes" class="labelcls" >{{"yes" | translate}}</label>
              <label  nz-radio nzValue="no" class="labelcls">{{"no" | translate}}</label>            
            </nz-radio-group>
            
          </nz-form-control>
    
        </nz-form-item>
  
        <nz-form-item class="mar-0x">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serviceClassificationType"><span class="form-lable-font">{{"serviceType" | translate}}</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group formControlName="serviceClassificationType" id="serviceClassificationType" 
            [(ngModel)]="siteData.serviceClassificationType">
              <label nz-radio nzValue="epl" class="labelcls" >epl</label>
              <label nz-radio nzValue="evpl" class="labelcls">evpl</label>            
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
  
    
  
        <nz-form-item class="mar-0x">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="SLAType"><span class="form-lable-font">SLA {{"type" | translate}}</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group formControlName="SLAType" id="SLAType" 
            [(ngModel)]="siteData.SLAType">
              <label nz-radio nzValue="bestEffort" class="labelcls" >BestEffort</label>
              <label nz-radio nzValue="assured" class="labelcls" >Assured</label>            
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
  
          <nz-form-item class="mar-0x ">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cos"><span class="form-lable-font">COS</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group formControlName="cos" id="cos"   [(ngModel)]="siteData.cos">
              <label nz-radio nzValue="Premium" class="labelcls">Premium</label>
              <label nz-radio nzValue="Standard" class="labelcls">Standard</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>

    </div>
  </div>
</form>
</div>

<div class="mobile_form" *ngIf = "isMobile">
<form autocomplete="off" [formGroup]="validateForm">

  <div >
    
      <nz-form-item  class="mar-0x">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serviceName"><span class="form-lable-font">{{"name" | translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="serviceName" id="serviceName" [(ngModel)]="siteData.serviceName">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mar-0x">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description"><span class="form-lable-font">{{"description" | translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="description" id="description" [(ngModel)]="siteData.description">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mar-0x  child">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cir"><span class="form-lable-font">CIR</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="cir" id="cir" [(ngModel)]="siteData.cir"  (keypress)="numberOnly($event)">
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item class="mar-0x  child">
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="eir"><span class="form-lable-font">EIR</span></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="eir" id="eir" [(ngModel)]="siteData.eir"  (keypress)="numberOnly($event)">
          </nz-form-control>
          
        </nz-form-item> 
        
      <nz-form-item class="mar-0x">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="highAvailability"><span class="form-lable-font">{{"highAvailability" | translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
         
           <nz-radio-group formControlName="highAvailability" id="highAvailability"  
          [(ngModel)]="siteData.highAvailability" style="padding-left: 14px">
            <label  nz-radio nzValue="yes" >{{"yes" | translate}}</label>
            <label   nz-radio nzValue="no">{{"no" | translate}}</label>            
          </nz-radio-group>
          
        </nz-form-control>
  
      </nz-form-item>

      <nz-form-item class="mar-0x">        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serviceClassificationType"><span class="form-lable-font">{{"serviceType" | translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group formControlName="serviceClassificationType" id="serviceClassificationType" 
          [(ngModel)]="siteData.serviceClassificationType" style="padding-left: 14px">
            <label nz-radio nzValue="epl" class="labelcls">epl</label>
            <label nz-radio nzValue="evpl" class="labelcls">evpl</label>            
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

  

      <nz-form-item class="mar-0x">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="SLAType"><span class="form-lable-font">SLA {{"type" | translate}}</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group formControlName="SLAType" id="SLAType" style="padding-left: 14px"
          [(ngModel)]="siteData.SLAType">
            <label nz-radio nzValue="bestEffort" class="labelcls">BestEffort</label>
            <label nz-radio nzValue="assured" class="labelcls">Assured</label>            
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

        <nz-form-item class="mar-0x ">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cos"><span class="form-lable-font">COS</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group formControlName="cos" id="cos" style="padding-left: 14px"  [(ngModel)]="siteData.cos">
            <label nz-radio nzValue="Premium" class="labelcls">Premium</label>
            <label nz-radio nzValue="Standard" class="labelcls">Standard</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      

    
  </div>
</form>
</div>
  