nz-table
{
    th,tr,td,nz-spin,div,span
    {
        background: var(--primary);
        color: var(--on-primary) ;        
        .action
        {
            margin-left:10px;
        }
    }
    td{
        border-bottom: 1px solid #F7F8FC;
        padding:5px;
    }
    th{
        padding:5px;
        font-weight:bold;  
        color: var(--on-primary) ; 
    }
    tr{
        border-left-color: var(--primary);
    }

        
}
.sotn-form{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.crt-btn{

    display: flex;
    justify-content: flex-end;
}
.form-lable-font{
    font-weight: bold;
    color: deepskyblue;
}
.mar-0x{
    margin:0;
}



.leftLabel{
    width:calc(~"100vw - 300px");
    float:left;
    color: var(--on-primary) ;
        font-weight: bold;
        padding: 5px;

}

.action{
    .bandwidth{
        padding-bottom:20px;
        font-weight: bold;
        nz-select{
            width:200px;
            padding-left:30px;
        }
    }
    .wan-check{
        padding-bottom:18px;
        font-weight: bold;
        nz-checkbox-group{
            padding-left:18px;
            
        }
    }
}

.labelcls{
    color: var(--on-primary);
}

.site-configure{
    padding-top:20px;
    h3{
        padding-top:20px;
    }
}
.add-delete-buttons{
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
    padding-bottom:10px;
    button {
        margin-right: 8px;
    }
}
:host ::ng-deep .ant-select-selection__clear:before {
    
    color: var(--on-primary);
    background-color: var(--primary);
}

:host ::ng-deep  .ant-input 
{
    color: var(--on-primary);
    background: var(--primary);

}

:host ::ng-deep .form-lable-font
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-radio-wrapper
{
    color: var(--on-primary);  
}
:host ::ng-deep  .ant-select-selection__placeholder, .ant-select-search__field__placeholder 
{
    color: var(--on-primary);
}

.mobile_form
{
    height: 399px;
    overflow: scroll;
    
    padding-right: 10px;
}

:host ::ng-deep .ant-form-item-required
{
    margin:unset !important;
}
:host ::ng-deep .ant-radio-inner
{
    background-color: transparent !important;
    color: var(--on-primary) !important;

}

