/* For mobile phones: */

:host ::ng-deep .ant-select-selection__clear:before
{
    color:  var(--on-primary) ;
    background-color:var(--primary);

}
:host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
    background-color:var(--primary);
}

:host ::ng-deep .ant-select-dropdown-menu-item{
    color: var(--on-primary) ;
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection__rendered {
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection--single {
    background-color:var(--primary);
  
}

:host ::ng-deep .ant-select-selection-selected-value {

    color: var(--on-primary) ;

}


:host ::ng-deep .ant-select-selection__placeholder
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-select-arrow {
  
 
    color:  var(--on-primary);
    font-size: 12px;
}

@media (max-width: 575px) {
    .ant-btn-primary {
        margin-top: 10px;
    }
}
