
nz-table
{
    th,tr,td,div,span
    {
        background: none;
        color: var(--on-primary) ;  
    }
    th{
        
        font-weight:bold;         
        padding:5px 5px 5px 10px;
        background: var(--th-background);
        border: 1px solid rgb(232, 232, 232);        
    }
    tr{
        border-left-color: rgb(232, 232, 232); 
        td{
            border: 1px solid rgb(232, 232, 232);
            padding:10px 5px 10px 10px; 
            background:none;         
            .action
            {
                margin-left:10px;
                background:none;
            }    
        }     
    }
    
}

:host ::ng-deep .ant-input{
    background: none;
}

:host ::ng-deep .ant-table-row-expand-icon
{
    background: none;
}



 :host ::ng-deep .ant-input {
    background: none;
     color: var(--on-primary) ;
}

