<nz-table theme #nestedTable [nzData]="VpnInfoData" [nzPageSize]="10" [nzShowPagination]=false>

  <tbody>
    <ng-template ngFor let-data [ngForOf]="VpnInfoData">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{data.vpnName}}</td>
        <td>{{data.vpnType}}</td>


      </tr>
      <tr [nzExpand]="data.expand">
        <td colspan="3">
          <nz-table theme #nestedTable [nzData]="data.sites" [nzPageSize]="10" [nzShowPagination]="false">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
              <tr>
                <th nzShowExpand></th>
                <th>{{"site" | translate}}</th>
                <th>{{"role" | translate}}</th>
                <th>{{"interface" | translate}}</th>
                <th>{{"subnet" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-data [ngForOf]="data.sites">
                <tr>
                  <td nzShowExpand [(nzExpand)]="data.expand"></td>
                  <td>{{data.siteName}}</td>
                  <td>{{data.role}}</td>
                  <td>{{data.siteinterface}}</td>
                  <td>{{data.cam}}</td>
                </tr>
                <tr [nzExpand]="data.expand">
                  <td colspan="5">
                    <nz-table theme #nestedTable [nzData]="data.cameras" [nzShowPagination]="false">
                      <thead>
                        <tr>                          
                          <th width="25%">Camera Name</th>
                          <th width="25%">Location</th>
                          <th width="20%">IP ADDRESS</th>
                          <th width="20%">Source</th>
                          <th width="10%">Operations</th>
                          <!-- <th nzShowSort nzSortKey="opt">Operation</th> -->
                        </tr>
                      </thead>

                      <tbody>
                        <ng-template ngFor let-data [ngForOf]="data.cameras">
                          <tr>                           
                            <td width="25%">
                              {{data.cameraName}}
                            </td>
                            <td width="25%">
                              <ng-container *ngIf="!editCache[data.cameraId].edit">
                                {{data.cameraLocation}}
                              </ng-container>
                              <ng-container *ngIf="editCache[data.cameraId].edit">
                                <input type="text" nz-input [(ngModel)]="editCache[data.cameraId].data.cameraLocation">
                              </ng-container>
                            </td>
                            <td width="20%">
                              <ng-container *ngIf="!editCache[data.cameraId].edit">
                                {{data.cameraIP}}
                              </ng-container>
                              <ng-container *ngIf="editCache[data.cameraId].edit">
                                <input type="text" nz-input [(ngModel)]="editCache[data.cameraId].data.cameraIP">
                              </ng-container>
                            </td>
                            <td width="20%">
                              <ng-container *ngIf="!editCache[data.cameraId].edit">
                                {{data.cameraSite}}
                              </ng-container>
                              <ng-container *ngIf="editCache[data.cameraId].edit">
                                <input type="text" nz-input [(ngModel)]="editCache[data.cameraId].data.cameraSite">
                              </ng-container>
                            </td>
                            <td width="10%">
                              <div class="editable-row-operations">
                                
                                  <ng-container *ngIf="!editCache[data.cameraId].edit">
                                      <span class="action" (click)="startEdit(data.cameraId)">
                                        <i class="anticon anticon-edit"></i>
                                      </span>
                                    </ng-container>
                                    <ng-container *ngIf="editCache[data.cameraId].edit">                
                                      <span class="action" (click)="saveEdit(data.cameraId)">
                                        <i class="anticon anticon-save"></i>
                                      </span>
                                      <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.cameraId)">
                                          <i nz-popconfirm class="anticon anticon-close-circle-o"></i>
                                        </nz-popconfirm>
                                    </ng-container>

                                                            
                              </div>
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </nz-table>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </nz-table>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<!--nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="view"  [nzFooter]="modalFooter" (nzOnCancel)="close()">
    <video width="400" controls>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">  
      </video>  
</nz-modal>
<ng-template #modalFooter> </ng-template-->