/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
    font: 700 18px/18px "思源黑体";
    color: #4c5e70;
    margin-bottom: 18px; 
}
hr {
    border: none;
    height: 2px;
    background-color: #dce1e7;
    margin-bottom: 20px;
}
.select {
    margin-bottom: 15px;
    span {
        display: inline-block;
        font: 700 14px "Arial";
        color: #4c5e70;
    }
    nz-dropdown {
        vertical-align: middle;
        :hover{
            border-color: #147dc2;
        }
        button {
            width: 165px;
            height: 30px;
            background-color: #eceff4;
            text-align: left;
            border-color: #9fa9ab;
            span {
                font-weight: 400;
                display: inline-block;
                width: 120px;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top: 2px;
            }
            i {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
    }
    .search {
        margin-left: 20px;       
        height: 30px;
        padding: 0 10px;
        span {
            color: #fff;
            font-weight: 400;
        }
    }
    
}
.charts{
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
    .chartsleft {
        width: 30%;
        height: 100%;
        float: left;
        margin-right: 2%;
        color: #fff;
        font-family:"ArialMT";
        .sctive_closed {
            height: 48.75%;
            padding: 12px;
            width: 100%;                  
            :first-child{
                font-size: 14px;
            }
            :nth-child(2) {
                font-size: 18px;
            }
            :nth-child(3) {
                font-size: 12px;
            }
        }
        .active {
            margin-bottom: 5px;
            background: -webkit-linear-gradient(left, #FB7788 , #FB93C2); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right, #FB7788, #FB93C2); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right, #FB7788, #FB93C2); /* Firefox 3.6 - 15 */
            background: linear-gradient(to right, #FB7788 , #FB93C2); /* 标准的语法（必须放在最后） */
        }
        .closed {
            margin-top: 2px;
            background: -webkit-linear-gradient(left, #7A8BAE , #A6BFE4); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right, #7A8BAE , #A6BFE4); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right,  #7A8BAE , #A6BFE4); /* Firefox 3.6 - 15 */
            background: linear-gradient(to right,  #7A8BAE , #A6BFE4); /* 标准的语法（必须放在最后） */
        }
        
    }
    .chartsright {
        background-color: #fff;
        width: 68%;
        float: left;
        height: 100%;
    }
}
.content {
    .title {
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        height: 106px;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0;
        ul {
            display: flex;
            display: -webkit-flex; 
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;
            height: 100%;
            li {
                list-style: none;
                padding-left: 32px;
                width: 100%;
                border-left: 1px solid #eceff4;
                h5 {
                    font: 500 14px "Arial";
                    color: #3d4d65;
                }
                p {
                    font: 500 24px "Arial";
                    color: #3fa8eb;
                    margin-bottom: 0;
                }
            }
            li:nth-child(1){
                border: none;
            }
        }
    }
    .chart {
        background-color: #fff;
        position: relative;
        padding-bottom: 24px;
        h3 {
            font: 700 18px/18px "思源黑体";
            color: #4c5e70;
            padding: 20px 15px;
            margin: 0;
            width: 12%;
            display: inline-block;
        }
        .AlarmChart {
            height: 0px;
            overflow: hidden;
            border-bottom: 1px solid #f5f5f5;
            transition: all 0.3s linear;
        }
        .alarmChart-active {
            height: 386px;
        }
        .open-close {
            width: 50px;
            height: 25px;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translate(-25px,0);
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #fff;
            background: url(../../assets/images/open-close.png) no-repeat center -27px;
            &:hover {
                background: url(../../assets/images/open-close.png) no-repeat center -79px;
            }
        }
        .open-close-active {
            background: url(../../assets/images/open-close.png) center -1px;
            &:hover {
                background: url(../../assets/images/open-close.png) no-repeat center -53px;
            }
        }
    }
    .tablelist {
        // background-color: #fff;
        // padding: 24px 10px 0px;
        border-radius: 0 0 5px 5px;
        .action{
            padding: 10px 0 0 20px;
            .details{
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(../../assets/images/icon.png) center -113px;
                &:hover {
                    background: url(../../assets/images/icon.png) no-repeat center -128px;
                }
            }
        }
    }
}
// select 框更改
.select[_ngcontent-c3] nz-dropdown[_ngcontent-c3] button[_ngcontent-c3] {
    width: 120px;
    height: 30px;
    background-color: #fff;
    text-align: left;
    border-color: #EEEEEE;
    border-radius: 2px;
}
.select[_ngcontent-c3] nz-dropdown[_ngcontent-c3] [_ngcontent-c3]:hover {
    border-color: #58B7F9;
}
.ant-progress-inner{
    background:rgba(229,238,252,0.8) !important;
}
.ant-progress-bg {
    background-color: linear-gradient(270deg,rgba(255,255,255,1) 0%,rgba(223,233,243,1) 100%) !important;
}



