/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 20px;
}
.select {
  margin-bottom: 20px;
}
.select span {
  display: inline-block;
  font: 700 14px "Arial";
  color: #4c5e70;
}
.select nz-dropdown {
  vertical-align: middle;
}
.select nz-dropdown :hover {
  border-color: #147dc2;
}
.select nz-dropdown button {
  width: 165px;
  height: 30px;
  background-color: #eceff4;
  text-align: left;
  border-color: #9fa9ab;
}
.select nz-dropdown button span {
  font-weight: 400;
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
}
.select nz-dropdown button i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.select .search {
  margin-left: 20px;
  height: 30px;
  padding: 0 10px;
}
.select .search span {
  color: #fff;
  font-weight: 400;
}
.content .title {
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  height: 106px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0;
}
.content .title ul {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
.content .title ul li {
  list-style: none;
  padding-left: 32px;
  width: 100%;
  border-left: 1px solid #eceff4;
}
.content .title ul li h5 {
  font: 500 14px "Arial";
  color: #3d4d65;
}
.content .title ul li p {
  font: 500 24px "Arial";
  color: #3fa8eb;
  margin-bottom: 0;
}
.content .title ul li:nth-child(1) {
  border: none;
}
.content .chart {
  background-color: #fff;
  position: relative;
  padding-bottom: 24px;
}
.content .chart h3 {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  padding: 20px 15px;
  margin: 0;
  width: 12%;
  display: inline-block;
}
.content .chart .AlarmChart {
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid #f5f5f5;
  transition: all 0.3s linear;
}
.content .chart .alarmChart-active {
  height: 386px;
}
.content .chart .open-close {
  width: 50px;
  height: 25px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-25px, 0);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  background: url(../../assets/images/open-close.png) no-repeat center -27px;
}
.content .chart .open-close:hover {
  background: url(../../assets/images/open-close.png) no-repeat center -79px;
}
.content .chart .open-close-active {
  background: url(../../assets/images/open-close.png) center -1px;
}
.content .chart .open-close-active:hover {
  background: url(../../assets/images/open-close.png) no-repeat center -53px;
}
.content .tablelist {
  background-color: #fff;
  padding: 24px 10px 0px;
  border-radius: 0 0 5px 5px;
}
.content .tablelist .action {
  padding: 10px 0 0 20px;
}
.content .tablelist .action .details {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../assets/images/icon.png) center -113px;
}
.content .tablelist .action .details:hover {
  background: url(../../assets/images/icon.png) no-repeat center -128px;
}
