.title {
    font: 700 18px/18px "思源黑体";
    color: var(--on-primary);
    margin-bottom: 18px; 
}
hr {
    border: none;
    height: 2px;
    
    color: var(--on-primary);
    margin-bottom: 20px;
}
:host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
    background-color:var(--primary);
}

:host ::ng-deep .ant-select-dropdown-menu-item{
    color: var(--on-primary) ;
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection__rendered {
    background-color:var(--primary);
  
}
:host ::ng-deep .ant-select-selection--single {
    background-color:var(--primary);
  
}

:host ::ng-deep .ant-select-selection-selected-value {

    color: var(--on-primary) ;

}

.content {            
    .rb-content {
        width:calc(~"100vw - 300px"); 
        height: 390px;
        
        color: var(--on-primary);
        border-radius: 5px;
        padding: 24px 30px;
        position: relative;  
        .duration{
            padding-bottom:20px;
            position: relative;
            
            .ant-select-selection-selected-value
            {
                color: var(--on-primary);
            }
        }      
        h4 {
            font: 600 16px/16px "Arial";            
            color: var(--on-primary);
        }
        .imgCls{
            width:75vw;
            height:350px;
            margin:0 auto;            
            overflow:hidden;
            //margin-top: 20px;
        }             
    }
    
}
.duration
{
display: flex;
flex-direction: row-reverse;
margin-right:20px;
}



@media (max-width: 575px) {
    .content {            
        .rb-content {
            width: 100%;
            padding: 0px;
            h4 {
                padding:10px 0 0 10px;
            }            
            .imgCls{
                width:90vw;                
            }                  
        }        
    }
}    

  
:host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
}

:host ::ng-deep .ant-select-selection__placeholder
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-select-arrow {
  
 
    color:  var(--on-primary);
    font-size: 12px;
}

:host ::ng-deep .ant-select-selection__clear:before {
    color:  var(--on-primary);
    background-color:var(--primary);
}