<!--
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<div theme class="duration">
    <nz-select style="width:200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select Duration" [(ngModel)]="setIntervalVal" (ngModelChange)="onChange(setIntervalVal)">
        <nz-option nzValue="1800" nzLabel="Last 30 Minutes"></nz-option>
        <nz-option nzValue="3600" nzLabel="Last 1 Hour"></nz-option>
    </nz-select>
</div>

<div class="divCls">
    <nz-form-label class="colm-s-1 lblCls" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"subscriptionType" | translate}}</nz-form-label>
    <nz-select class="colm-s-2" [(ngModel)]="selectedSubscriptionType" (ngModelChange)="getServiceInstanceList($event)" nzAllowClear
        nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of serviceSubscriptionList" [nzValue]="option.serviceType" [nzLabel]="option.serviceType"></nz-option>

    </nz-select>


    <nz-form-label class="colm-s-1 lblCls" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"serviceInstance" | translate}}</nz-form-label>
    <nz-select class="colm-s-2 " [(ngModel)]="selectedServiceInstance" (ngModelChange)="setIntervalToGetData($event)" nzAllowClear
        nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of serviceInstanceList" [nzValue]="option.serviceInstance" [nzLabel]="option.serviceInstancename"></nz-option>
    </nz-select>
</div>


<div>
    <div class="content">
        <div class="rb-content" (window:resize)="onResize($event)">
            <h4>{{"DataMonitor" | translate}}</h4>
            <!-- <div style="padding-bottom:60px;float:right"> -->
            <app-time-line [initData]="bandwidthLineChartInit" [chartData]="bandwidthLineChartData" *ngIf="((selectedSubscriptionType | lowercase) =='sdwan' && selectedServiceInstance !='' )"></app-time-line>
            <img *ngIf="((selectedSubscriptionType|lowercase) =='sotn' && selectedServiceInstance !='' )" src="{{sotnImg}}" alt="" class="imgCls"
            />
        </div>
    </div>
</div>