<div class="desktop view" *ngIf="!isMobile">
    <nz-table #nzExpandTable [nzData]="expandDataSet" [nzShowPagination]=false>
        <tbody>
            <ng-template ngFor let-data [ngForOf]="nzExpandTable.data">
                <tr>
                    <td width="4%" class="tdCls" nzShowExpand [(nzExpand)]="data.expand"></td>
                    <td width="96%" class="tdCls">{{data.name | translate}}
                        <span class="costCls" *ngIf="!serviceInstanceId">{{data.cost}}$</span>
                    </td>
                </tr>

                <tr [nzExpand]="data.expand">
                    <td class="noPadding" colspan="2">
                        <ng-template [ngIf]="data.rowIdx == 1">

                            <div style="display: flex; justify-content: center; padding: 1%;">
                                <div style="width: 45%" class="">
                                    <div style="padding: 1%" *ngFor="let data of myKeys.slice(0, (myKeys.length/2+1));">
                                        <span>
                                            <b>{{data}}: </b>
                                        </span>
                                        <span>{{mapped[data]}}</span>
                                    </div>
                                </div>
                                <div style="width: 45%" class="">
                                    <div style="padding: 1%" *ngFor="let data of myKeys.slice((myKeys.length/2+1), (myKeys.length+1));">
                                        <span>
                                            <b>{{data}}:</b>
                                        </span>
                                        <span>{{mapped[data]}}</span>
                                    </div>
                                </div>


                            </div>
                        </ng-template>

                        <ng-template [ngIf]="data.rowIdx == 2">
                            <div>
                                <nz-table #nestedTable [nzData]="summaryInfo.vpnInformations" [nzPageSize]="10" nzShowPagination="false">
                                    <thead>
                                        <tr>
                                            <th nzShowExpand width="3%" class="thCls"></th>
                                            <th nzSortKey="name" width="47%" class="thCls">{{"vpnName" | translate }}</th>
                                            <th nzSortKey="type" width="50%" class="thCls"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <ng-template ngFor let-data [ngForOf]="nestedTable.data" nzShowPagination="false">
                                            <tr>
                                                <td nzShowExpand width="3%" [(nzExpand)]="data.expand"></td>
                                                <td width="47%">{{data.vpnName}}</td>
                                                <td width="50%"></td>
                                            </tr>
                                            <tr [nzExpand]="data.expand">
                                                <!-- <td></td> -->
                                                <td colspan="3">

                                                    <div style="padding-left:3%">
                                                        <b>{{"siteInformation" | translate }} : </b>
                                                        <span class="costCls" *ngIf="!serviceInstanceId">{{summaryInfo.cost.siteCost}}$</span>
                                                    </div>
                                                    <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                                                        <nz-table #vpnTable [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
                                                            <thead>
                                                                <tr>
                                                                    <th width="4%" class="thCls"></th>
                                                                    <th width="20%" class="thCls">{{"siteName" | translate}}</th>
                                                                    <th width="30%" class="thCls">{{"description" | translate}}</th>
                                                                    <th width="26%" class="thCls">{{"city" | translate}}</th>
                                                                    <th width="20%" class="thCls">{{"postalCode" | translate}}</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr *ngFor="let data of vpnTable.data; index as i;">
                                                                    <td width="4%"></td>
                                                                    <td width="20%">{{data.siteName}}</td>
                                                                    <td width="30%">{{data.description}}</td>
                                                                    <td width="26%">{{data.location}}</td>
                                                                    <td width="20%">{{data.zipCode}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </nz-table>
                                                    </div>
                                                </td>

                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </nz-table>
                            </div>
                        </ng-template>

                    </td>
                </tr>
            </ng-template>
        </tbody>
    </nz-table>
</div>



<div class="mobile view" *ngIf="isMobile">
    <nz-table #nzExpandTable [nzData]="expandDataSet" [nzShowPagination]=false>
        <tbody>
            <tr *ngIf="!serviceInstanceId">
                <th width="1%"></th>
                <th width="70%"></th>
                <th width="29%" class="xs-clr-red Clscol">{{"price" | translate}} ($)</th>
            </tr>
            <ng-template ngFor let-data [ngForOf]="nzExpandTable.data">
                <tr>
                    <td width="1%" class="tdCls" nzShowExpand [(nzExpand)]="data.mobileExpand"></td>
                    <td width="70%" class="tdCls">{{data.name | translate}}</td>
                    <td width="29%" class="tdCls costCls_mob">{{data.cost}}</td>
                </tr>

                <tr [nzExpand]="data.mobileExpand">
                    <td class="noPadding" colspan="3">
                        <ng-template [ngIf]="data.rowIdx == 1">
                            <div>
                                <div style="padding-left:52px" *ngFor="let data of myKeys.slice(0, (myKeys.length));">
                                    <p>
                                        <b>{{data}}:</b> {{mapped[data]}}</p>

                                </div>
                            </div>
                        </ng-template>

                        <ng-template [ngIf]="data.rowIdx == 2">
                            <div>
                                <nz-table #nestedTable [nzData]="summaryInfo.vpnInformations" [nzPageSize]="10" nzShowPagination="false">


                                    <tbody>
                                        <ng-template ngFor let-data [ngForOf]="nestedTable.data" nzShowPagination="false">
                                            <tr>
                                                <td nzShowExpand width="2%" [(nzExpand)]="data.mobileExpand"></td>
                                                <td width="49%">{{data.vpnName}}</td>
                                                <td width="49%"></td>
                                            </tr>
                                            <tr [nzExpand]="data.mobileExpand">
                                                <!-- <td></td> -->
                                                <td colspan="4">
                                                    <div style="padding-left:3%">
                                                        <b>{{"siteInformation" | translate}}</b>
                                                    </div>
                                                    <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                                                        <nz-table #vpnTable nzBordered [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
                                                            <thead>
                                                                <tr>
                                                                    <th class="thCls"></th>
                                                                    <th width="50%" class="thCls">{{"siteName" | translate}}</th>
                                                                    <th width="50%" class="thCls">{{"zipCode" | translate}}</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <ng-template ngFor let-data [ngForOf]="vpnTable.data">
                                                                    <tr>
                                                                        <td nzShowExpand [(nzExpand)]="data.expand"></td>
                                                                        <td>{{data.siteName}}</td>
                                                                        <td>{{data.zipCode}}</td>
                                                                    </tr>
                                                                    <tr [nzExpand]="data.expand">
                                                                        <td></td>
                                                                        <td colspan="3">
                                                                            <b> {{"description" | translate}}: </b>{{data.description}}
                                                                            <br/>
                                                                            <b> {{"location" | translate}}: </b>{{data.location}}
                                                                            <br/>
                                                                        </td>
                                                                    </tr>
                                                                </ng-template>
                                                            </tbody>
                                                        </nz-table>
                                                    </div>
                                                </td>    
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                </nz-table>
                            </div>
                        </ng-template>

                    </td>
                </tr>
            </ng-template>

        </tbody>
    </nz-table>
</div>