
.paddingLeft{
    padding-left: 40px;
  }
  nz-table{
    
  
  
   td{
     border-bottom: 1px solid #F7F8FC;
      background-color:var(--primary) ; 
       color: var(--on-primary) ; 
   }
   .tdCls{
     font-weight:bold;
     color: var(--on-primary) ;
     background-color:var(--primary) ;    
   }
   .Clscol
   {
    color: var(--on-primary) ;
   }
  
   .thCls{
    font-weight:bold;
     color: var(--on-primary) ;
     background-color: var(--th-background);
     
    border-bottom: 1px solid #F7F8FC;
    border-top: 1px solid #F7F8FC;
   }
   .noPadding
   {
     padding-left:0px;
     padding-right:0px;
   }
  .costCls{
   margin-left: 40%;
  // padding-left: 20px;
    color: red;   
  } 
  .costCls_mob{
    color: red;   
  }   
   .divCls{
    display: inline-block;
    width: 40%;
    padding-left: 3%;
    padding-bottom: 10px;
     color : var(--on-lables) ; 
   }
   .spanCls
   {
     color:#999999;   
   }

   .textAlignLeft
   {
    text-align: left;  
   }
   .paddingZero{
      padding:0px;
   }
  }
  
  .container
  {
    height: calc(~"100vh - 120px");
    overflow: auto;  
  }
  
  :host ::ng-deep .ant-table-row-expand-icon
  { background: var(--primary);
  
  } 
  .divCls
  {
  .spanCls {
      color : var(--on-lables) ; 
  }}

  .inner_data
  {
    padding-left: 52px;
  }