<!--
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<h3 class="title"> Services List </h3>
<hr>
<div class="model">
  <!-- 创建数据 -->
  <button class="back" nz-button (click)="goback()"><span><i class="anticon anticon-rollback"></i></span></button>
  <div class="creation fl">
    <div *ngIf="createParams.commonParams.templateType=='E2E Service'" class="baseparms clearfix">
      <h3>Base</h3>
      <ul>
        <li><span>Name*</span> <input nz-input [(ngModel)]="service.name"></li>
        <li><span>Description*</span> <input nz-input [(ngModel)]="service.description"></li>
      </ul>
      <br>
      <h3>Template Parameters</h3>
      <h4>template Inputs</h4>
      <ul>
        <li *ngFor="let parameter of templateParameters.inputs; let i = index;">
          <span *ngIf="parameter.type !== 'vf_location' && parameter.type !== 'sdn_controller'">{{parameter.name}}:</span> 
          <input *ngIf="parameter.type !== 'vf_location' && parameter.type !== 'sdn_controller'" nz-input [(ngModel)]="parameter.value">

          <h5 *ngIf="parameter.type === 'vf_location'" style="padding-left:10px;">id: {{parameter.name}}</h5>
          <span *ngIf="parameter.type === 'vf_location'"> vf_location: </span>
          <nz-select *ngIf="parameter.type === 'vf_location'" style="width: 165px;" [(ngModel)]="parameter.value" nzAllowClear >
            <nz-option *ngFor="let vim of vimInfos" [nzValue]="vim" [nzLabel]="vim.name"></nz-option>
          </nz-select>
          <!-- <nz-select *ngIf="parameter.type === 'sdn_controller'" style="width: 165px;" [(ngModel)]="parameter.value" nzAllowClear >
            <nz-option *ngFor="let control of sdnControllers" [nzValue]="control" [nzLabel]="control.name"></nz-option>
          </nz-select> -->
        </li>
      </ul>
      <h4>nestedTemplate Inputs</h4>
      <div *ngFor="let template of templateParameters.nestedTemplates;">
          <h4 style="font:400 14px 'Arial';color:#aaa;">templateName: {{template.name}}</h4>
          <ul>
            <li *ngFor="let input of template.inputs; let i = index;">
              <span *ngIf="input.type !== 'vf_location' && input.type !== 'sdn_controller'" > {{input.name}}: </span>
              <input *ngIf="input.type !== 'vf_location' && input.type !== 'sdn_controller'" nz-input [(ngModel)]="input.value">

              <h5 *ngIf="input.type === 'vf_location'" style="padding-left:10px;">id: {{input.name}}</h5>
              <span *ngIf="input.type === 'vf_location'"> vf_location: </span>
              <nz-select *ngIf="input.type === 'vf_location'" style="width: 165px;" [(ngModel)]="input.value" nzAllowClear >
                <nz-option *ngFor="let vim of vimInfos" [nzValue]="vim" [nzLabel]="vim.name"></nz-option>
              </nz-select>
              <!-- <nz-select *ngIf="input.type === 'sdn_controller'" style="width: 165px;" [(ngModel)]="input.value" nzAllowClear >
                <nz-option *ngFor="let control of sdnControllers" [nzValue]="control" [nzLabel]="control.name"></nz-option>
              </nz-select> -->
            </li>
          </ul>
      </div>

    </div>

    <div *ngIf="createParams.commonParams.templateType=='Network Service'" class="baseparms clearfix">
      <h3>Base</h3>
      <ul>
        <li><span>Name*</span> <input nz-input [(ngModel)]="ns_service.nsName"></li>
        <li><span>Description*</span> <input nz-input [(ngModel)]="ns_service.description"></li>
      </ul>
      <h3>Template Parameters</h3>
      <h4>template Inputs</h4>
      <ul>
        <li *ngFor="let parameter of nsTemplateParameters.inputs2; let i = index;">
          <span *ngIf="parameter.type !== 'vf_location' && parameter.type !== 'sdn_controller'">{{parameter.name}}:</span> 
          <input *ngIf="parameter.type !== 'vf_location' && parameter.type !== 'sdn_controller'" nz-input [(ngModel)]="parameter.value">

          <h5 *ngIf="parameter.type === 'vf_location'" style="padding-left:10px;">id: {{parameter.name}}</h5>
          <span *ngIf="parameter.type === 'vf_location'"> vf_location: </span>
          <nz-select *ngIf="parameter.type === 'vf_location'" style="width: 165px;" [(ngModel)]="parameter.value" nzAllowClear >
            <nz-option *ngFor="let vim of vimInfos" [nzValue]="vim" [nzLabel]="vim.name"></nz-option>
          </nz-select>
          <!-- <nz-select *ngIf="parameter.type === 'sdn_controller'" style="width: 165px;" [(ngModel)]="parameter.value" nzAllowClear >
            <nz-option *ngFor="let control of sdnControllers" [nzValue]="control" [nzLabel]="control.name"></nz-option>
          </nz-select> -->
        </li>
      </ul>

      <h4>vnfs Inputs</h4>

      <ul>
        <li *ngFor="let vnf of nsTemplateParameters.vnfs;">
          <h5 style="padding-left:10px;">id: {{vnf.vnf_id}}</h5>
          <span> vf_location: </span>
          <nz-select style="width: 165px;" [(ngModel)]="vnf.value" nzAllowClear >
            <nz-option *ngFor="let vim of vimInfos" [nzValue]="vim" [nzLabel]="vim.name"></nz-option>
          </nz-select>
        </li>
      </ul>

    </div>
    <button class="submit" nz-button [nzType]="'primary'" (click)="submit()"><span>Create</span></button>
  </div>

  <!-- 图 -->
  <div class="chart fr">
      Create Service
      <div id="createChart">
        <svg width="100%" height="100%">
         
          <image xlink:href="./assets/images/cloud-site.png"
                  x="25%" y="30%"  width="50%"/> 

        </svg>

      </div>
  </div>

</div>

