/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 10px;
}
.model {
  background-color: #fff;
  height: 90%;
  overflow-y: auto;
}
.model .back {
  position: absolute;
  top: 10px;
  right: 20px;
}
.model .creation {
  position: relative;
  width: 60%;
  height: 100%;
  overflow-y: auto;
  border-radius: 5px;
  padding: 20px;
}
.model .creation .baseparms h3 {
  color: #3fa8eb;
  font: 700 16px "Arial";
}
.model .creation .baseparms h4 {
  font: 700 16px "Arial";
}
.model .creation .baseparms ul li {
  margin: 3px 0;
}
.model .creation .baseparms ul li span {
  display: inline-block;
  width: 40%;
  font: 700 14px "Arial";
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
.model .creation .baseparms ul li input {
  width: 165px;
}
.model .creation .submit {
  position: absolute;
  top: 10px;
  right: 20px;
}
.model .chart {
  width: 40%;
  padding: 10px;
  height: 100%;
  border-left: 10px solid #f3f3f3;
}
