nz-table
{
    th,tr,td,nz-spin,div,span
    {
        background: var(--primary);
        color: var(--on-primary) ;        
        .action
        {
            margin-left:10px;
        }
    }
    td{
        border-bottom: 1px solid #F7F8FC;
        padding:5px;
    }
    th{
        padding:5px;
        font-weight:bold;        
    }
    tr{
        border-left-color: var(--primary);
    }

        
}

.leftLabel{
    width:calc(~"100vw - 300px");
    float:left;
    color: var(--on-primary) ;
        font-weight: bold;
        padding: 5px;

}

.action{
    .bandwidth{
        padding-bottom:20px;
        font-weight: bold;
        nz-select{
            width:200px;
            padding-left:30px;
        }
    }
    .wan-check{
        padding-bottom:18px;
        font-weight: bold;
        nz-checkbox-group{
            padding-left:18px;
            
        }
    }
}



.site-configure{
    padding-top:20px;
    h3{
        padding-top:20px;
    }
}
.add-delete-buttons{
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
    padding-bottom:10px;
    button {
        margin-right: 8px;
    }
}

:host ::ng-deep  .ant-select-selection__placeholder, .ant-select-search__field__placeholder 
{
    color: var(--on-primary);
}


@media (max-width: 575px) {
    .leftLabel{
        width:80vw;
    }
    
    .mobileHeight
    {
        height:350px;
        width: 100%;
        padding: 4%;
    }
    .ant-form-item {
        margin-bottom:2px;
    }
    .ant-form-item-control-wrapper{
       width: auto
    }
    
    .action{
        .bandwidth{
            padding-bottom:10px;  
            font-weight: bold; 
            color: var(--on-primary);         
            nz-select{
                width:100%;
                padding-left:1px;
                color: var(--on-primary);
            }
        }
        .wan-check{
            padding-bottom:10px;
            font-weight: bold;
            color: var(--on-primary);
            nz-checkbox-group{
                padding-left:1px;
                
            }
        }
    }
    .xs-width-30p{
        width: 30%!important;
    }
    .xs-flex{
        display: flex!important;
        background: transparent;
    }
    .xs-model-hgt{
        height: 500px!important;
    }
}  