<div class="action">
  <div class="bandwidth">

    <span class="ant-form-item-required">{{"bandwidth" | translate}}: </span>

    <nz-select theme nzShowSearch nzDropdownClassName="ant-select-dropdown-ccvpn" nzPlaceHolder="Select a Bandwidth" [(ngModel)]="serviceBandwidth"
      (ngModelChange)="onSelectBandwidth(serviceBandwidth)">
      <nz-option nzValue="1" nzLabel="1 Gigabyte"></nz-option>
      <nz-option nzValue="10" nzLabel="10 Gigabyte"></nz-option>
      <nz-option nzValue="100" nzLabel="100 Gigabyte"></nz-option>
    </nz-select>

  </div>

  <div class="wan-check ">
    <span class="ant-form-item-required">{{"wanAccess" | translate}}: </span>
    <nz-checkbox-group [(ngModel)]="wanCheckOptions" (ngModelChange)="onChange(wanCheckOptions)"></nz-checkbox-group>
  </div>
</div>

<div style="display:inline-block">


  <div class="leftLabel , ant-form-item-required">
    {{"configureSite" | translate}}
  </div>

  <div class="add-delete-buttons">
    <button nz-button nzType="primary" (click)="showModalMiddle()">{{"add" | translate}}</button>
  </div>
</div>

<div class="table" *ngIf="!isMobile">

  <div class="config-site-table">
    <nz-table #siteTable nzBordered [nzData]="products" [nzPageSize]="5">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th width="11%" nzShowSort nzSortKey="siteName">{{"siteName" | translate}}</th>
          <th width="11%" nzShowSort nzSortKey="description">{{"description" | translate}}</th>
          <th width="11%" nzShowSort nzSortKey="CloudSite">{{"role" | translate}}</th>
          <th width="12.5%" nzShowSort nzSortKey="site_type">{{"type" | translate}}</th>
          <th width="11%" nzShowSort nzSortKey="capacity">{{"capacity" | translate}}</th>
          <th width="11%" nzShowSort nzSortKey="location">{{"city" | translate}}</th>
          <th width="11%" nzShowSort nzSortKey="zipCode">{{"postalCode" | translate}}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderSite of siteTable.data">
          <td width="11%">{{orderSite.siteName}}</td>
          <td width="11%">{{orderSite.description}}</td>
          <td width="11%">{{orderSite.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>

          <td width="12.5%">{{orderSite.site_type}}</td>
          <td width="11%">{{orderSite.capacity}}</td>
          <td width="11%">{{orderSite.location}}</td>
          <td width="11%">{{orderSite.zipCode}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="activateTbl" *ngIf="isMobile">
  <nz-table #siteTable nzBordered [nzData]="products" [nzPageSize]="5" [nzScroll]="{ x: '600px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px">{{"siteName" | translate}}</th>
        <th nzWidth="100px">{{"description" | translate}}</th>
        <th nzWidth="100px">{{"role" | translate}}</th>
        <th nzWidth="100px">{{"type" | translate}}</th>
        <th nzWidth="100px">{{"city" | translate}}</th>
        <th nzWidth="100px">{{"postalCode" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-orderSite [ngForOf]="siteTable.data">
        <tr>
          <td nzLeft="0px">{{orderSite.siteName}}</td>
          <td>{{orderSite.description}}</td>
          <td>{{orderSite.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>
          <td>{{orderSite.capacity}}</td>
          <td>{{orderSite.location}}</td>
          <td>{{orderSite.zipCode}}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>


</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" theme nzTitle="{{siteTitle |  translate}}"
  (nzOnOk)="commonModalFunc()" (nzOnCancel)="handleCancelMiddle()" class="xs-model-hgt">

  <form class="mobileHeight" autocomplete="off" [formGroup]="validateForm">

    <nz-form-item class="xs-flex">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="site_name">{{"siteName" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="28">
        <input nz-input formControlName="site_name" id="site_name" [(ngModel)]="siteData.siteName">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="xs-flex">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">{{"description" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="description" id="description" [(ngModel)]="siteData.description">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="xs-flex">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="cloud_site">{{"cloudSite" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="cloud_site" id="cloud_site" [(ngModel)]="siteData.isCloudSite">
          <label nz-radio nzValue="1">{{"yes" | translate}}</label>
          <label nz-radio nzValue="0">{{"no" | translate}}</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="xs-flex" *ngIf="isMobile">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="site_type">{{"type" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="site_type" id="site_type" [(ngModel)]="siteData.site_type">
          <label nz-radio nzValue="Hub">HQ</label>
          <label nz-radio nzValue="Spoke">Branch</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item class="xs-flex" *ngIf="!isMobile">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="site_type">{{"type" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="site_type" id="site_type" nzRequired style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select Site Type"
          [(ngModel)]="siteData.site_type">
          <nz-option *ngFor="let item of siteType" nzValue="{{item}}" nzLabel="{{item | translate}}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>



    <nz-form-item class="xs-flex">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">{{"city" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="address" id="address" [(ngModel)]="siteData.location">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="xs-flex">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="zip_code">{{"postalCode" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="zip_code" id="zip_code" [(ngModel)]="siteData.zipCode">
      </nz-form-control>
    </nz-form-item>


    <nz-form-item class="xs-flex">
      <nz-form-label class="xs-width-30p" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"capacity" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="capacity" id="capacity" nzRequired style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder='{{"chooseCapacity" | translate}}'
          [(ngModel)]="siteData.capacity">
          <nz-option nzValue="<100 Users" nzLabel="<100 Users"></nz-option>
          <nz-option nzValue="100-1000 Users" nzLabel="100-1000 Users"></nz-option>
          <nz-option nzValue=">1000 Users" nzLabel=">1000 Users"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-modal>