  <div style="display:inline-block" *ngIf = "!isMobile">
  <div class="leftLabel , ant-form-item-required">
    {{"configureSite" |  translate}}
  </div>
  
  <div class="add-delete-buttons mobile_button"> 
      <button nz-button nzType="primary" (click)="showModalMiddle()">{{"add" | translate}}</button>  
    </div>
</div>  
   
<div class="table" *ngIf = "!isMobile"> 
  <div class="config-site-table">
    <nz-table #siteTable nzBordered [nzData]="sotnProducts" [nzPageSize]="5">      
      <thead >
        <tr>
          <th width="11%"  >{{"name" | translate}}</th>
          <th width="11%"  >{{"description" | translate}}</th>        
          <th width="11%"  >{{"postalCode" | translate}}</th>
          <th width="11%"  >{{"address" | translate}}</th>
          <th width="11%"  >{{"vlan" | translate}}</th>
          <th width="11%"  >{{"action" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderSite of siteTable.data;index as i">
          <td width="11%">{{orderSite.sotnSiteName}}</td>
          <td width="11%">{{orderSite.description}}</td>
          <td width="11%">{{orderSite.zipCode}}</td>
          <td width="11%">{{orderSite.address}}</td>
          <td width="11%">{{orderSite.vlan}}</td>
          <td width="11%"><span class="action" (click)="deleteSite(i)">
            <i class="anticon anticon-delete"></i>
          </span></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

 <div  *ngIf = "isMobile"> 
  <div class="ant-form-item-required"  *ngIf = "isMobile">
  <span class="label_configuresite">  {{"configureSite" |  translate}}</span>
      <span class="mobile_button" style=" position: absolute;
      right: 5px;" > 
          <button nz-button nzType="primary" (click)="showModalMiddle()">{{"add" | translate}}</button>  
      </span>
  </div>
  

</div> 
   

<div class="table_mob" *ngIf="isMobile">
  <nz-table #siteTable nzBordered [nzData]="sotnProducts"  [nzScroll]="{ x: '410px' }">    
    <thead >
      <tr>
        <th nzWidth="90px" nzLeft="0px">{{"name" | translate}}</th>
        <th nzWidth="120px">{{"description" | translate}}</th>        
        <th nzWidth="100px">{{"postalCode" | translate}}</th>
        <th nzWidth="100px">{{"address" | translate}}</th>
        <th nzWidth="100px">{{"vlan" | translate}}</th>
        <th nzWidth="100px" nzRight="0px">{{"action" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orderSite of siteTable.data;index as i">
        <td nzLeft="0px">{{orderSite.sotnSiteName}}</td>
        <td>{{orderSite.description}}</td>
        <td>{{orderSite.zipCode}}</td>
        <td>{{orderSite.address}}</td>
        <td>{{orderSite.vlan}}</td>
        <td nzRight="0px"><span class="action" (click)="deleteSite(i)">
          <i class="anticon anticon-delete"></i>
        </span></td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="desktop" *ngIf="!isMobile">  
<nz-modal style="height:438px" nzWrapClassName="vertical-center-modal"  [(nzVisible)]="isVisible" nzTitle="{{siteTitle}}" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
  <form autocomplete="off" [formGroup]="validateForm">

    <nz-form-item >
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sotnSiteName" >{{"siteName" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" >
        <input nz-input  formControlName="sotnSiteName" id="sotnSiteName" [(ngModel)]="siteData.sotnSiteName">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">{{"address" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="address" id="address" [(ngModel)]="siteData.address">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">{{"description" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="description" id="description" [(ngModel)]="siteData.description">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="zipCode">{{"postalCode" | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="zipCode" id="zipCode" [(ngModel)]="siteData.zipCode">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vlan">VLAN</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="vlan" id="vlan" [(ngModel)]="siteData.vlan">
      </nz-form-control>
    </nz-form-item>
      
  </form>
</nz-modal>
</div>
<div class="mobile" *ngIf="isMobile">
<nz-modal nzWrapClassName="vertical-center-modal" theme [(nzVisible)]="isVisible" nzTitle="{{siteTitle}}" (nzOnOk)="handleOk()" (nzOnCancel)="handleCancel()">
    <form autocomplete="off" [formGroup]="validateForm">
  
      <nz-form-item class="flexDiv_item" style="display:flex">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sotnSiteName" style= "width:34%">{{"siteName" | translate}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" class="flexDiv_control" style= "width:auto">
          <input nz-input  formControlName="sotnSiteName" id="sotnSiteName" [(ngModel)]="siteData.sotnSiteName" >
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item style="display:flex">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address" style= "width:34%">{{"address" | translate}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" style= "width:auto">
          <input nz-input formControlName="address" id="address" [(ngModel)]="siteData.address" >
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item style="display:flex">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description" style= "width:34%">{{"description" | translate}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" style= "width:auto">
          <input nz-input formControlName="description" id="description" [(ngModel)]="siteData.description" >
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item style="display:flex">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="zipCode" style= "width:34%">{{"postalCode" | translate}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" style= "width:auto">
          <input nz-input formControlName="zipCode" id="zipCode" [(ngModel)]="siteData.zipCode" >
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item style="display:flex">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vlan" style= "width:34%">{{"vlan" | translate}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" style= "width:auto">
          <input nz-input formControlName="vlan" id="vlan" [(ngModel)]="siteData.vlan" >
        </nz-form-control>
      </nz-form-item>
        
    </form>
  </nz-modal>
  </div>