nz-table
{
    th,tr,td,nz-spin,div,span
    {
        background: var(--primary);
        color: var(--on-primary) ;        
        .action
        {
            margin-left:10px;
        }
    }
    td{
        border-bottom: 1px solid #F7F8FC;
        padding:5px;
    }
    th{
        padding:5px;
        font-weight:bold;        
    }
    tr{
        border-left-color: var(--primary);
    }

        
}







.action{
    .bandwidth{
        padding-bottom:20px;
        font-weight: bold;
        nz-select{
            width:200px;
            padding-left:30px;
        }
    }
    .wan-check{
        padding-bottom:18px;
        font-weight: bold;
        nz-checkbox-group{
            padding-left:18px;
            
        }
    }
}



.site-configure{
    padding-top:20px;
    h3{
        padding-top:20px;
    }
}
.add-delete-buttons{
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
    padding-bottom:10px;
    button {
        margin-right: 8px;
    }
}

:host ::ng-deep  .ant-select-selection__placeholder, .ant-select-search__field__placeholder 
{
    color: var(--on-primary);
}

@media screen and (max-width: 576px) {
    mobile_button {
        background-color: aqua;
        padding-bottom:10px;
        position: absolute;
        right: 2px;
        top: 2px;
    }
        button {
            margin-right: 8px;
        }
    }

    .label_configuresite
    {
        color: var(--on-primary) ;
        font-weight: bold;
    }
    
   .table_mob
   {
       padding-top: 20px;
   }


.nz-form-label
{
    position: relative;
    top: 12px
    
}
:host ::ng-deep .ant-form-item-label 
{
    color: yellow !important;
}

// :host ::ng-deep .ant-modal-content
// {
//     background-color: black;
// }
 