<div style="    width: 100%;
display: flex;
justify-content: space-between;
padding: 3%;">
<nz-form-label style="font-weight: bold;     text-align: left;
width: 15%;" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"subscriptionType" | translate}}</nz-form-label>
<nz-select  nzShowSearch nzDropdownClassName = "ant-select-dropdown-ccvpn" style="width: 33%;"  placeholder="SelectOrderType" (ngModelChange)="getInstanceIdservice($event)" nzPlaceHolder="Select">     
    <nz-option *ngFor="let item of OrderData" nzValue="{{item.serviceType}}" nzLabel="{{item.serviceType}}"></nz-option>              
  </nz-select>
  <nz-form-label style="font-weight: bold; color: deepskyblue;" [nzSm]="6" [nzXs]="24" nzRequired nzFor="capacity">{{"serviceInstance" | translate}}</nz-form-label>
  <nz-select nzShowSearch nzDropdownClassName = "ant-select-dropdown-ccvpn" style="width: 33%;"  (ngModelChange)= "getSelectedOrder($event)" nzPlaceHolder="Select">
    <div *ngIf="serviceType == 'SD-WAN'">
        <nz-option *ngFor="let item of serviceList"  nzValue="{{item.serviceInstanceId}}" nzLabel="{{ item.serviceInstanceId }}"></nz-option> 
    </div>
    <div  *ngIf="serviceType == 'SOTN'">
        <nz-option *ngFor="let item of SOTNinstanceId"  nzValue="{{item}}" nzLabel="{{ item }}"></nz-option>          
    </div>   
    
  </nz-select>
  
</div>