.content {            
    .rb-content {
        width:410px;
        padding:0px 20px 0px 20px;               
        background: #000332;
        color: white;                
        position: relative;        
        h4 {
            font: 600 16px/16px "Arial";
            color: #3d4d65; 
        }            
    }
    
}

:host ::ng-deep .ant-form-item-label label {
    color:  var(--on-primary) ;
}

:host ::ng-deep .ant-select-selection__placeholder
{
    color: var(--on-primary);
}

:host ::ng-deep .ant-select-arrow {
  
 
    color:  var(--on-primary);
    font-size: 12px;
}