<div class="mainDiv">
  <div class="checklistDiv">
    <label nz-checkbox [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (click)="viewItem()">{{"monitorService" |  translate}}</label>
  </div>
  <div *ngIf="isInputVisible" class="divCamera">{{"cameraNumPerSite" |  translate}}:&nbsp;&nbsp;
    <nz-input-number class="cameraInput" (keypress)="numberOnly($event)" type="number" [(ngModel)]="demoValue" [ngModelOptions]="{standalone: true}"
      [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
  </div>
  <div class="checklistDiv">
    <label nz-checkbox [(ngModel)]="checked1" [ngModelOptions]="{standalone: true}">{{"5gText" |  translate}}</label>
    <div class="divCamera">
    <p>{{"5gTransport" |  translate}}
    </p>
    </div>
  </div>
  <div class="checklistDiv">
    <label nz-checkbox nzDisabled [(ngModel)]="checkedv" [ngModelOptions]="{standalone: true}">{{"voiceService" |  translate}}</label>
  </div>
  
</div>