.mainDiv
{
    padding:20px;
    .checklistDiv
    {
        padding-top:20px;
        label
        {
            font-size: 16px;
            font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold; 
        }       
    }
    .divCamera
    {
        margin-left:20px;
        margin-top:20px;
    }
}

:host ::ng-deep .ant-checkbox-wrapper
{
    color: var(--on-primary) ;
    font-size:14px;
}
:host ::ng-deep .ant-checkbox-disabled + span
{
    color: var(--on-primary) ;
    
}

// :host ::ng-deep .ant-checkbox-inner
// {
//     background-color : var(--primary);
//     color: black;
     
// }
 
:host ::ng-deep .ant-input-number-input
{
    background-color : var(--primary);
    color: var(--on-primary) ;

     
}
 :host ::ng-deep .ant-input-number-handler-wrap
 {
     background-color: var(--primary);
 }
:host ::ng-deep .ant-input-number-handler-up-inner
{ 
    font-size: 16px;
    font-weight: 600;
    color: var(--on-primary) ;
}
.mainDiv .divCamera
{
    color: var(--on-primary) ;
}
:host ::ng-deep .ant-input-number-handler-down-inner
{ 
    font-size: 16px;
    font-weight: 600;
    color: var(--on-primary) ;
}

:host ::ng-deep .ant-checkbox-disabled + span
{
    color: var(--on-disabled-font) !important;
}