
<div class="parentDiv">

   
  <div class="carouselDiv" *ngIf="!isMobile">
    <app-dashboard-summary></app-dashboard-summary>
  </div>

  <div class="dashboardCls">
    <div class="portal-wrap">
      <div class="portal-loop portal-loop1">
          <div class="loop-bottom">{{"OrderService" | translate }}</div>
        <div class="loop-main">
          <div class="icon-loop">
            <div class="icon-main icon-main1"> </div>
          </div>
          <div class="portal-panel">
            <ul>
              <li>
                <a (click)="goToSDwanOrderservice()">
                  <span class="portal-link">{{"sdwanService" | translate}}</span>
                </a>
              </li>
              <li>
                <a (click)="goToSotnOrderservice()">
                  <span class="portal-link">{{"sotnService" | translate }}</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
        
      </div>

      <div class="portal-loop portal-loop2">
          <div class="loop-bottom">{{"ManageService" | translate }}</div>
        <div class="loop-main">
          <div class="icon-loop">
            <div class="icon-main icon-main2"> </div>
          </div>
          <div class="portal-panel">
            <ul>
              <li>

                <a (click)="goToOrderedService()">
                  <span class="portal-link"> {{ "OrderedService" | translate }}</span>
                </a>
              </li>
              <li>
                <a (click)="goToActivatesite()">
                  <span class="portal-link">{{ "ActivateSite" | translate }}</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
        
      </div>

      <div class="portal-loop portal-loop3">
          <div class="loop-bottom">{{"MonitorService" | translate }}</div>
        <div class="loop-main">
          <div class="icon-loop">
            <div class="icon-main icon-main3"> </div>
          </div>
          <div class="portal-panel">
            <ul>
              <li>
                <a (click)="goToDatamonitor()">
                  <span class="portal-link">{{"DataMonitor" | translate}}</span>
                </a>
              </li>
              <li>
                <a (click)="goToNetworkTopology()">
                  <span class="portal-link">{{ "networkTopology" | translate }}</span>
                </a>
              </li>
              <li>
                <a (click)="goToResourceTopology()">
                  <span class="portal-link">{{"resourceTopology" | translate }} </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
       
      </div>

    </div>
  </div>
</div>