.carouselDiv
{
    margin-top: 25px;
    width: 100%;
    height: 300px;
    background: #52398c;
    
}
.parentDiv
{
  margin-left: -37px;
}
[nz-carousel-content] {
    text-align: center;
    height: 280px;
    line-height: 280px;
    background: #52398c;

    color: #fff;
    overflow: hidden;
  }

  h3 {
    color: #fff;
  }

 
.portal-wrap {
   // margin-top: 25px;
    width: calc(~"100vw + 60px");
    height: 325px;  
  }

  
  
  .portal-loop {  
    float: left;  
    width:  calc(~"33vw - 60px");      
    height: 100%;   
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;  
    margin-right: 60px;  
    //background: var(--portal-loop-bottom);
   // background: #26c6da; 
    //border: 1px solid #fff;  
  }
  
  .loop-main {  
    float: left;  
    width: 84%;  
    height: 239px;  
  }
  
  .portal-loop1 .loop-main { background:  var(--portal-loop-main-mobile);}
  
  .portal-loop2 .loop-main { background:  var(--portal-loop-main-mobile);}
  
  .portal-loop3 .loop-main { background: var(--portal-loop-main-mobile);}
  
  .portal-loop4 .loop-main { background:  var(--portal-loop-main-mobile);}
  
  .icon-loop {  
    margin: 50px;  
    width: calc(~"100% - 104px");      
    height:calc(~"100% - 104px");        
    border: 2px solid #fff;  
    -webkit-transition: all 2s;  
    transition: all 2s;  
    -webkit-transition: all 0.6s;  
    box-shadow: 0 20px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
  }
  
  .icon-main {  
    width: 100px;  
    height: 100px;
    //margin-left: 35%;     
    margin-top: 20px;     
  }  
 
  
  .icon-main1 {
       background: url(../../assets/images/order.png) no-repeat;    
  }

  .icon-main2 {  
    background: url(../../assets/images/manage.png) no-repeat;    
}

.icon-main3 {  
    background: url(../../assets/images/monitor.png) no-repeat;    
}
  
  
  
  
  
  .portal-panel {  
    width: 100%;  
    height: 0;  
    overflow: hidden;  
  }
  
  .portal-panel ul{  
    width: 100%;  
    -webkit-box-sizing: border-box;  
            box-sizing: border-box;  
    padding: 10px 20px;  
  }
  
  .portal-panel ul li {  
    width: 100%;  
    height: 30px;  
    margin-bottom: 5px;  
  }
  
  .portal-link {  
    width:100%;  
    cursor: pointer;  
    line-height: 30px;  
    text-align: left;  
    padding: 0 10px;  
    font-size: 20px;  
    color: #fff;  
   // color: #fff;  
    text-decoration: none;  
    display: block;  
    float: left;  
  }
  
  .portal-link:hover {  
    background: rgba(0,0,0,0.2);  
  }
  
  .portal-loop:hover .icon-loop {  
    margin: 10px 20px;  
    width: calc(~"100% - 42px");       
    height: 65px;  
  }
  
  .portal-loop:hover .icon-main {  
    width: 50px;  
    height: 50px;  
    //margin-left: calc(~"50% - 85px");       
    margin-top: 5px;  
    background-size: auto 100%;  
    -webkit-transition: all 2s;  
    transition: all 2s;  
    -webkit-transition: all 0.6s;  
  }
  
  .portal-loop:hover .icon-main1 {  
    width: 50px;
    height: 50px;  
    //margin-left: calc(~"50% - 25px");
     
    margin-top: 5px;  
    background-size: auto 100%;  
    -webkit-transition: all 2s;  
    transition: all 2s;  
    -webkit-transition: all 0.6s;  
  } 
  .dashboardCls
  {
  margin-top: 26px;
  margin-left: 40px;
  }
  .portal-loop:hover .portal-panel {  
    width: 100%;  
    height: calc(~"100% - 90px");      
  }
  
  .loop-bottom {  
    // width: 100%;  
    // height: calc(~"100% - 248px");       
    text-align: center;  
    //line-height: 75px;  
    font-size: 24px;  
    //color: white;
    padding-right: 47px;
      
  }

  .row-bg
  {   
    background-position: center center;     
    width:80%;
    height:40%;
    object-fit: cover;
  }

  .ons1{
    background: url(../../assets/images/ons1.png) no-repeat;    
  }

  .ons2{
    background: url(../../assets/images/ons2.png) no-repeat;    
  }

  .ons3{
    background: url(../../assets/images/ons3.png) no-repeat;    
  }

  .ons4{
    background: url(../../assets/images/ons4.png) no-repeat;    
  }
 

  @media (max-width: 575px) {
    .loop-bottom {
      color :var(--loop-bottom-header-color);
      padding-right: 50px;
     
    }
    .portal-loop {
        width:  89vw;  
        margin-bottom:-8px;
        padding:10px;
        margin-right:0px;
        margin-left: 35px;
    }
    .portal-wrap {      
      width: 100vw;       
    }
    .icon-main {  
        margin-left: 0%;   
         
      }  
      // .portal-wrap {      
      //   width: 100vw;       
      // }
      .layoutCls{
        height: calc(188vh - 64px)!important;
      }



//new carousel/////////////////////////////////////////////////////////////


// .slideshow {
//   list-style-type: none;
// }

// /** SLIDESHOW **/
// .slideshow,
// .slideshow:after { 
//     top: -16px; /*Not sure why I needed this fix*/
//         position: fixed;
//     width: 100%;
//     height: 70%;
//     left: 0px;
//     z-index: 0; 
// }

// .slideshow li div { 
//         position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     color: transparent;
//     background-size: cover;
//     background-position: 50% 50%;
//     background-repeat: no-repeat;
//     opacity: 0;
//     z-index: 0;
//     animation: imageAnimation 30s linear infinite 0s; 
// }



// .slideshow li:nth-child(1) div { 
//     background-image: url("../../assets/images/ons1.png"); 
// }
// .slideshow li:nth-child(2) div { 
//     background-image: url("../../assets/images/ons2.png");
//     animation-delay: 6s; 
// }
// .slideshow li:nth-child(3) div { 
//     background-image: url("../../assets/images/ons3.png");
//     animation-delay: 12s; 
// }
// .slideshow li:nth-child(4) div { 
//     background-image: url("../../assets/images/ons4.png");   
//     animation-delay: 18s; 
// }
// .slideshow li:nth-child(5) div { 
//     background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg");
//     animation-delay: 24s; 
// }



// @keyframes imageAnimation { 
//     0% { opacity: 0; animation-timing-function: ease-in; }
//     8% { opacity: 1; animation-timing-function: ease-out; }
//     17% { opacity: 1 }
//     25% { opacity: 0 }
//     100% { opacity: 0 }
// }


// @keyframes titleAnimation { 
//     0% { opacity: 0 }
//     8% { opacity: 1 }
//     17% { opacity: 1 }
//     19% { opacity: 0 }
//     100% { opacity: 0 }
// }


// .no-cssanimations .cb-slideshow li span {
//     opacity: 1;
// }
}
