<div>

  <div class="btn_cls">
    <button nz-button nzType="primary" disabled>{{"add" | translate}}</button>
    <!-- <button nz-button nzType="primary" (click)="test()">Add</button> -->
  </div>

  <div class="table-content">
    <nz-table #editRowTable nzBordered [nzData]="dataSet" nzShowPagination="false">
      <thead>
        <tr>
          <th nzWidth="35%"  class="xs-font-size-14x xs-width-30p xs-text-center" >{{"vpnName" | translate}}</th>
          <th nzWidth="35%"  class="xs-font-size-14x xs-width-30p xs-text-center">{{"bandwidth" | translate}} (MB)</th>
          <th nzWidth="30%"  class="xs-font-size-14x  xs-text-center">{{"operation" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td  class="xs-font-size-14x xs-width-30p xs-text-center">
            <div class="editable-cell">
              <div class="editable-cell-text-wrapper">
                <ng-container >
                  {{data.vpnName}}
                </ng-container>
              </div>
            </div>
          </td>
          <td  class="xs-font-size-14x xs-width-30p xs-text-center">
            <div class="editable-cell">
              <div class="editable-cell-text-wrapper">
                <ng-container *ngIf="!editCache[data.vpnId].edit">
                  {{data.vpnBandwidth}}
                </ng-container>
                <ng-container *ngIf="editCache[data.vpnId].edit">
                  <nz-input-number type="number" [(ngModel)]="editCache[data.vpnId].data.vpnBandwidth" [nzMin]="1" [nzStep]="1"
                    (keypress)="numberOnly($event)"></nz-input-number>
                  <!-- <input type="number" (keypress) = "numberOnly($event)" nz-input [(ngModel)]="editCache[data.vpnId].data.bandwidth" max="100"min="1"> -->
                </ng-container>
              </div>
            </div>
          </td>
          <td  class="xs-font-size-14x xs-width-30p xs-text-center">
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.vpnId].edit">
                <span class="action" (click)="startEdit(data.vpnId)" >
                  <i class="anticon anticon-edit"></i>
                </span>
              </ng-container>
              <ng-container *ngIf="editCache[data.vpnId].edit">                
                  <span class="action" (click)="saveEdit(data.vpnId)">
                    <i class="anticon anticon-save" ></i>
                  </span>
                  <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="cancelEdit(data.vpnId)">
                      <i nz-popconfirm class="anticon anticon-close-circle-o"></i>
                    </nz-popconfirm>
                </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>



  </div>