.btn_cls
{
    display: flex;
    flex-direction: row-reverse;
    margin-right:20px;
    padding-bottom: 20px;
}
.cursorIcon{
 cursor: pointer;
}

nz-table
{
    th,tr,td,nz-spin,div,span
    {
        background: var(--primary);
        color: var(--on-primary) ;        
        .action
        {
            margin-left:10px;
        }
    }
    td{
        border-bottom: 1px solid #F7F8FC;
    }
    th{
        padding:5px;
        font-weight:bold;        
    }
    tr{
        border-left-color: var(--primary);
    }        
}

:host ::ng-deep .anticon-save:before
{
    font-size: 18px;
    font-weight: 500;
    color:rgb(9, 109, 241);
}

:host ::ng-deep .anticon-close-circle-o:before {
    font-size: 18px;
    font-weight: 500;
    color:red;
}

:host ::ng-deep .anticon-edit
{
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 575px) {

    .xs-font-size-14x{
        font-size: 14px;
    }
    .xs-width-30p{
        width: 30%!important;
    }
    .xs-text-center{
        text-align: center;
    }
    .xs-mar-0{
        margin: 0!important;
    }
    .xs-mar-auto{
        margin: 0 auto!important;
    }


}