  
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color:var(--primary);
  }
  
  .flex-container > div {
    background-color:var(--primary);
    width: 200px;
    height: 180px;;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px solid rgb(230,230,230);
    //color: var(--on-primary);
  }
  
  .vipCls {
    font-size:14px;
    margin-top:5px;
    color: var(--on-primary);
    height:20px;
    line-height: 20px;
  }

  .marginCls
  {
    margin-top: 20px;
  }


  .imgCls{
    width:80px;
    height:80px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
    margin-top: 20px;
  }