<!-- code for modal and form -->

<div class="flex-container">
  <div>
      <span>
          <img [src]="imgSrc" alt="Place image title" class="imgCls" (click)="showModal()" >     
        </span>
        <div class="vipCls marginCls">{{"add" | translate}}</div>    
    
  </div>
  <div *ngFor="let goal of goals">
    <span>
      <img [src]="goal.imgUrl" alt="Place image title" *ngIf="!isImageLoading; else noImageFound" class="imgCls">     
    </span>
    <div class="vipCls marginCls">{{goal.vipName}}</div>
    <div class="vipCls">{{goal.vipRole}}</div>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  (nzOnCancel)="handleCancel()" (nzOnOk)="upload()">
  <ng-template #modalTitle>
    Add VIP
  </ng-template>
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vip_name">Vip Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="vip_name" id="vip_name" [(ngModel)]="vipName">
          <nz-form-explain *ngIf="validateForm.get('vip_name').dirty && validateForm.get('vip_name').errors">Please
            enter your
            name!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vip_role">Company</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="vip_role" id="vip_role" [(ngModel)]="vipRole">
          <nz-form-explain *ngIf="validateForm.get('vip_role').dirty && validateForm.get('vip_role').errors">Please
            enter your
            role!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="vip_path">Path</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="vip_path" id="vip_path" [(ngModel)]="vipPath">
          <nz-form-explain *ngIf="validateForm.get('vip_path').dirty && validateForm.get('vip_path').errors">Please
            enter your
            Path!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>      

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="vip_image">Profile Photo</nz-form-label>
        <input type="file" (change)="selectFile($event)" >
        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>
      </nz-form-item>
    </form>
  </ng-template>
</nz-modal>