<nz-table *ngIf="orderedServiceDetails && !isMobile" #nzExpandTable [nzData]="expandDataSet" [nzShowPagination]=false>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nzExpandTable.data">
      <tr>
        <td width="4%" class="tdCls" nzShowExpand [(nzExpand)]="data.expand"></td>
        <td width="80%" class="tdCls">{{data.name | translate}}</td>
        <td width="8%" class="tdCls">{{data.quantity | translate}}</td>
        <td width="8%" class="tdCls">Price ($ k)</td>
      </tr>

      <tr [nzExpand]="data.expand">
        <td class="noPadding" colspan="4">
          <ng-template [ngIf]="data.rowIdx == 1">
            <div>
              <div width="100%">
                <div class="divCls">
                  <span class="spanCls">{{"bandWidth" | translate}}:</span> {{summaryInfo.bandWidth}}GB</div>
                <div class="divCls">
                  <span class="spanCls">{{"wanAccess" | translate}}:</span> {{wlanAccess }} </div>
              </div>


              <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                <nz-table #siteTable [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
                  <thead>
                    <tr>
                      <th width="4%" class="thCls"></th>
                      <th width="10%" class="thCls">{{"siteName" | translate}}</th>
                      <th width="10%" class="thCls">{{"description" | translate}}</th>
                      <th width="10%" class="thCls">{{"role" | translate}}</th>
                      <th width="10%" class="thCls">{{"capacity" | translate}}</th>
                      <th width="10%" class="thCls">{{"city" | translate}}</th>
                      <th width="10%" class="thCls">{{"postalCode" | translate}}</th>
                      <th width="8%" class="thCls" style="border: 0px"></th>
                      <th width="8%" class="thCls" style="border: 0px"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let data1 of siteTable.data; index as i;">
                      <td width="4%"></td>
                      <td width="10%">{{data1.siteName}}</td>
                      <td width="10%">{{data1.description}}</td>
                      <td width="10%">{{data1.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>
                      <td width="10%">{{data1.capacity}}</td>
                      <td width="10%">{{data1.location}}</td>
                      <td width="10%">{{data1.zipCode}}</td>
                      <td width="8%" [attr.rowspan]=siteTable.data.length *ngIf="(i==0)" class="costCls">{{siteTable.data.length}}</td>
                      <td width="8%" [attr.rowspan]=siteTable.data.length *ngIf="(i==0)" class="costCls">{{siteDataCost}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
          </ng-template>

          <ng-template [ngIf]="data.rowIdx == 2">
            <div>
              <nz-table #nestedTable [nzData]="summaryInfo.vpnInformations" [nzPageSize]="10" nzShowPagination="false">
                <thead>
                  <tr>
                    <th nzShowExpand width="4%" class="thCls"></th>
                    <th nzSortKey="name" width="38%" class="thCls">{{"vpnName" | translate }}</th>
                    <th nzSortKey="type" width="3%" class="thCls">{{"type" | translate }}</th>
                    <th width="10%" class="thCls" style="border: 0px"></th>
                    <th width="10%" class="thCls" style="border: 0px"></th>
                  </tr>
                </thead>

                <tbody>
                  <ng-template ngFor let-data [ngForOf]="nestedTable.data" nzShowPagination="false">
                    <tr>
                      <td nzShowExpand width="3%" [(nzExpand)]="data.expand"></td>
                      <td width="40%">{{data.vpnName}}</td>
                      <td width="37%">{{data.vpnType}}</td>
                      <td [attr.rowspan]=nestedTable.data.length width="10%" class="costCls">{{nestedTable.data.length}}</td>
                      <td [attr.rowspan]=nestedTable.data.length width="10%" class="costCls">{{vpnDataCost}}</td>
                    </tr>                                                                                                                                                                                                                                                                                                                                                             
                    <tr [nzExpand]="data.expand">
                      <td colspan="3">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                

                        <div style="padding-left:3%">{{"siteInformation" | translate }}</div>
                        <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                          <nz-table #vpnTable [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
                            <thead>
                              <tr>
                                <th width="4%" class="thCls"></th>
                                <th width="12%" class="thCls">{{"siteName" | translate}}</th>
                                <th width="12%" class="thCls">{{"description" | translate}}</th>
                                <th width="12%" class="thCls">{{"role" | translate}}</th>                                                                                                                                                                                                                                                       
                                <th width="12%" class="thCls">{{"capacity" | translate}}</th>
                                <th width="12%" class="thCls">{{"city" | translate}}</th>
                                <th width="12%" class="thCls">{{"postalCode" | translate}}</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr *ngFor="let data of vpnTable.data; index as i;">
                                <td width="4%"></td>
                                <td width="12%">{{data.siteName}}</td>
                                <td width="12%">{{data.description}}</td>
                                <td width="12%">{{data.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>
                                <td width="12%">{{data.capacity}}</td>
                                <td width="12%">{{data.location}}</td>
                                <td width="12%">{{data.zipCode}}</td> >
                              </tr>
                            </tbody>
                          </nz-table>
                        </div>

                    </tr>
                  </ng-template>
                </tbody>
              </nz-table>
            </div>
          </ng-template>

          <ng-template [ngIf]="data.rowIdx == 3">
            <div>
              <nz-table #VASTable [nzData]="summaryInfo.vpnInformations" nzSize="middle" nzShowPagination="false">
                <thead>
                  <tr>
                    <th class="thCls" width="3%"></th>
                    <th class="thCls" width="40%">{{"vpnName" | translate}}</th>
                    <th class="thCls" width="37%">{{"bandwidth" | translate}}</th>
                    <th width="10%" class="thCls" style="border: 0px"></th>
                    <th width="10%" class="thCls" style="border: 0px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data1 of VASTable.data; index as i;">
                    <td width="3%"> </td>
                    <td width="40%">{{data1.vpnName}} </td>
                    <td width="37%">{{data1.vpnBandwidth}}</td>
                    <td [attr.rowspan]=VASTable.data.length *ngIf="(orderedServiceDetails && i==0)" class="costCls">{{VASTable.data.length}}</td>
                    <td [attr.rowspan]=VASTable.data.length *ngIf="(orderedServiceDetails && i==0)" class="costCls">{{bandWidthCost}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </ng-template>

          <ng-template [ngIf]="data.rowIdx == 4">
            <div>
              <table>
                <tbody>
                  <tr>
                    <td width="3%"></td>
                    <td width="77%">{{"totalRecords" | translate}}</td>
                    <td width="10%" class="costCls">{{camerasLength}}</td>
                    <td width="10%" class="costCls">{{summaryInfo.cameraCost}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
          </td>
      </tr>
    </ng-template>

    <tr>
      <td width="3%" class="tdCls"></td>
      <td width="77%" class="tdCls">{{"total" | translate}}</td>
      <td width="10%" class="tdCls">{{"quantity" | translate}}</td>
      <td width="10%" class="tdCls ">{{"price" | translate}} ($ k) </td>
    </tr>
    <tr>
      <td width="3%"></td>
      <td width="77%"></td>
      <td width="10%" class="costCls textAlignLeft">
        {{(camerasLength)+(bandWidthLength)+ (vpnDataLength)+ (siteDataLength)}}
      </td>
      <td width="10%" class="costCls textAlignLeft paddingZero">
        {{summaryInfo.serviceCost}}
      </td>
    </tr>

  </tbody>
</nz-table>


<!--Responsive order summary-->


<nz-table *ngIf="orderedServiceDetails && isMobile" #nzExpandTable [nzData]="expandDataSet" [nzShowPagination]=false>
    <tbody>
        <tr>
          <th width="4%"></th>
          <th width="30%"></th>
          <th width="30%" class="xs-clr-blue ">{{"quantity" | translate }}</th>
          <th width="30%" class="xs-clr-red clscol">{{"price" | translate }} ($ k)</th>
        </tr>   
      <ng-template ngFor let-data [ngForOf]="nzExpandTable.data">                                                                                                                                                                                                                                                                                                                                                            
        <tr>
          <td width="4%" class="tdCls " nzShowExpand [(nzExpand)]="data.mobileExpand"></td>
          <td width="30%" class="tdCls  xs-pad-0">{{data.name | translate}}</td>
          <td width="30%" class="tdCls  xs-pad-0 xs-clr-blue text-align-center">{{data.quantityNo}}</td>
          <td width="36%" class="tdCls  xs-pad-0 xs-text-elips xs-clr-red ">{{data.cost}}</td>
        </tr>
  
        <tr [nzExpand]="data.mobileExpand">
          <td class="noPadding" colspan="4">
            <ng-template [ngIf]="data.rowIdx == 1">
              <div>
                <div width="100%">
                  <div  class="divCls" >
                    <span class="spanCls">{{"bandwidth" | translate}}:</span> {{summaryInfo.bandWidth}}GB</div>
                  <div   class="divCls" >
                    <span class="spanCls">{{"wanAccess" | translate}}:</span> {{wlanAccess }} </div>
                </div>
  
  
                <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
              
                  <nz-table #siteTable nzBordered [nzData]="data.sites" [nzPageSize]="5" [nzShowPagination]=false>
                      <thead>
                        <tr>
                          <th class=" xs-text-center thCls"></th>
                          <th width="27%" class=" xs-text-center thCls">{{"siteName" | translate}}</th>
                          <th width="26%" class=" xs-text-center thCls">{{"role" | translate}}</th>
                          <th width="27%" class=" xs-text-center thCls">{{"postalCode" | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                          <ng-template ngFor let-data1 [ngForOf]="siteTable.data" >
                              <tr> 
                                <td nzShowExpand [(nzExpand)]="data1.expand"></td>
                                <td width="27%">{{data1.siteName}}</td>
                                <td width="26%">{{data1.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>
                                <td width="27%">{{data1.zipCode}}</td>
                              </tr>
                              <tr [nzExpand]="data1.expand">
                                  <td></td>
                                  <td colspan="3 " >
                                   <b> {{"description" | translate}}: </b>{{data1.description}}<br/>
                                    <b> {{"city" | translate}}: </b>{{data1.location}}<br/>
                                    <b> {{"capacity" | translate}}: </b>  {{ data1.capacity}}<br/>
                                  </td>
                              </tr>
                          </ng-template>    
                      </tbody>
                    </nz-table>
                </div>
              </div>
            </ng-template>
  
            <ng-template [ngIf]="data.rowIdx == 2">
              <div>
                <nz-table #nestedTable [nzData]="summaryInfo.vpnInformations" [nzPageSize]="10" nzShowPagination="false">
                  <thead>
                    <tr>
                      <th nzShowExpand width="4%" class="thCls"></th>
                      <th nzSortKey="name" width="35%" class="thCls ">VPN<br>{{"name" | translate}}ame</th>
                      <th nzSortKey="type" width="30%" class="thCls ">{{"type" | translate}}</th>
                    </tr>
                  </thead>
  
                  <tbody>
                    <ng-template ngFor let-data [ngForOf]="nestedTable.data" nzShowPagination="false">
                      <tr>
                        <td nzShowExpand width="4%" [(nzExpand)]="data.expand"></td>
                        <td width="35%">{{data.vpnName}}</td>
                        <td width="30%">{{data.vpnType}}</td>
                      </tr>
                      <tr [nzExpand]="data.expand">
                        <td colspan="3">
  
                          <div style="padding-left:3%">{{"siteInformation" | translate }}</div>
                          <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                            
                              <nz-table #vpnTable nzBordered [nzData]="data.sites" [nzPageSize]="5" [nzShowPagination]=false>
                                  <thead>
                                    <tr>
                                      <th class="thCls"></th>
                                      <th width="27%" class=" xs-text-center thCls">{{"siteName" | translate}}</th>
                                      <th width="26%" class=" xs-text-center thCls">{{"role" | translate}}</th>
                                      <th width="27%" class=" xs-text-center thCls">{{"postalCode" | translate}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <ng-template ngFor let-data [ngForOf]="vpnTable.data">
                                          <tr> 
                                            <td nzShowExpand [(nzExpand)]="data.mobileExpand"></td>
                                            <td width="27%" class=" ">{{data.siteName}}</td>
                                            <td width="26%" >{{data.isCloudSite==="1" ? "Hub" : "Spoke"}}</td>
                                            <td width="27%">{{data.zipCode}}</td>
                                          </tr>
                                          <tr [nzExpand]="data.mobileExpand">
                                              <td></td>
                                              <td colspan="3" ><b > {{"description" | translate}}: </b>{{data.description}}<br/>
                                                <b > City: </b>{{data.location}}<br/>
                                                <b > {{"capacity" | translate}}: </b>  {{ data.capacity}}<br/>
                                              </td>
                                          </tr>
                                      </ng-template>    
                                  </tbody>
                                </nz-table>
                          </div>
  
                      </tr>
                    </ng-template>
                  </tbody>
                </nz-table>
              </div>
            </ng-template>
  
            <ng-template [ngIf]="data.rowIdx == 3">
              <div>
                <nz-table #VASTable [nzData]="summaryInfo.vpnInformations" nzShowPagination="false">
                  <thead>
                    <tr>
                      <th class="thCls" width="3%"></th>
                      <th class="thCls " width="30%">{{"vpnName" | translate}}</th>
                      <th class="thCls " width="40%">{{"bandwidth" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data1 of VASTable.data; index as i;">
                      <td width="3%"> </td>
                      <td width="35%">{{data1.vpnName}} </td>
                      <td width="10%">{{data1.vpnBandwidth}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </ng-template>
  
            <ng-template [ngIf]="data.rowIdx == 4">
              <div>
                <table>
                  <tbody>
                    <tr>
                      <td width="3%"></td>
                      <td width="50%" >{{"cameraNumPerSite" | translate}}</td>
                      <td width="30%" class="costCls xs-clr-blue   xs-pad-0">{{camerasLength}}</td>
                      <td width="17%" class="costCls  xs-pad-0">{{summaryInfo.cameraCost}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
            </td>
        </tr>
      </ng-template>
  
      <tr>
        <td width="3%" class="tdCls"></td>
        <td width="67%" class="tdCls ">{{"total" | translate}}</td>
        <td width="10%" class="costCls     xs-clr-blue"  *ngIf="isMobile">
          {{(camerasLength)+(bandWidthLength)+ (vpnDataLength)+ (siteDataLength)}}
        </td>
        <td width="20%" class="costCls textAlignLeft  paddingZero"  *ngIf="isMobile">
          {{summaryInfo.serviceCost}}
        </td>
        <td width="10%" class="tdCls   xs-pad-0 xs-clr-blue" *ngIf="!isMobile">{{"quantity" | translate}}</td>
        <td width="20%" class="tdCls   xs-pad-0 xs-clr-red " *ngIf="!isMobile">{{"price" | translate}} $ K</td>
      </tr>
      <tr>
        <td width="3%"></td>
        <td width="67%"></td>
        <td width="10%" class="costCls     xs-clr-blue"  *ngIf="!isMobile">
          {{(camerasLength)+(bandWidthLength)+ (vpnDataLength)+ (siteDataLength)}}
        </td>
        <td width="20%" class="costCls textAlignLeft  paddingZero"  *ngIf="!isMobile">
          {{summaryInfo.serviceCost}}
        </td>
      </tr>
  
    </tbody>
  </nz-table>

  



<!---->

<div *ngIf="(orderedServiceDetails == false)" class="container1">
  <nz-table  #nzExpandTable [nzData]="expandDataSet" [nzShowPagination]=false *ngIf="!isMobile"> 
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nzExpandTable.data">
        <tr>
          <td class="tdCls" nzShowExpand [(nzExpand)]="data.expand"></td>
          <td width="100%" class="tdCls">{{data.name | translate}}</td>
        </tr>

        <tr [nzExpand]="data.expand">
          <td class="noPadding" colspan="4">
            <ng-template [ngIf]="data.rowIdx == 1">
              <div>
                <div width="100%">
                  <div class="divCls">
                    <span class="spanCls">{{"bandWidth" | translate}}:</span> {{summaryInfo.bandWidth}}GB</div>
                  <div class="divCls">
                    <span class="spanCls">{{"wanAccess" | translate}}:</span> {{wlanAccess }} </div>
                </div>


                <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                  <nz-table #siteTable [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
                    <thead>
                      <tr>
                        <th width="3%" class="thCls"></th>
                        <th width="20%" class="thCls">{{"siteName" | translate}}</th>
                        <th width="27%" class="thCls">{{"location" | translate}}</th>
                        <th width="10%" class="thCls">{{"role" | translate}}</th>
                        <th width="10%" class="thCls">{{"interface" | translate}}</th>
                        <th width="10%" class="thCls">{{"subnet" | translate}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let data1 of siteTable.data; index as i;">
                        <!-- <td></td> -->
                        <td width="3%"></td>
                        <td width="20%" align="left">{{data1.siteName}}</td>
                        <td width="27%" align="left">{{data1.location}}</td>
                        <td width="10%">{{data1.role}}</td>
                        <td width="10%">{{data1.siteinterface}}</td>
                        <td width="10%">{{data1.subnet}}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </ng-template>

            <ng-template [ngIf]="data.rowIdx == 2">
              <div>
                <nz-table #nestedTable [nzData]="summaryInfo.vpnInformations" [nzPageSize]="10" nzShowPagination="false">
                  <thead>
                    <tr>
                      <th nzShowExpand width="3%" class="thCls"></th>
                      <th nzSortKey="name" width="50%" class="thCls">{{"vpnName" | translate }}</th>
                      <th nzSortKey="type" width="47%" class="thCls">{{"type" | translate }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    <ng-template ngFor let-data [ngForOf]="nestedTable.data" nzShowPagination="false">
                      <tr>
                        <td nzShowExpand width="3%" [(nzExpand)]="data.expand"></td>
                        <td width="50%">{{data.vpnName}}</td>
                        <td width="47%">{{data.vpnType}}</td>
                      </tr>
                      <tr [nzExpand]="data.expand">
                        <td colspan="3">

                          <div style="padding-left:3%">{{"siteInformation" | translate }}</div>
                          <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                            <nz-table #vpnTable [nzData]="data.sites" nzSize="middle" nzShowPagination="false">
                              <thead>
                                <tr>
                                  <th width="3%" class="thCls" style="border:0px;"></th>
                                  <th width="24%" class="thCls">{{"siteName" | translate}}</th>
                                  <th width="24%" class="thCls">{{"role" | translate}}</th>
                                  <th width="24%" class="thCls">{{"interface" | translate}}</th>
                                  <th width="25%" class="thCls">{{"subnet" | translate}}</th>
                                </tr>
                              </thead>

                              <tbody>
                                <tr *ngFor="let data of vpnTable.data; index as i;">
                                  <td width="3%" style="border:0px;"></td>
                                  <td width="24%">{{data.siteName}}</td>
                                  <td width="24%" align="left">{{data.role}}</td>
                                  <td width="24%">{{data.siteinterface}}</td>
                                  <td width="25%">{{data.subnet}}</td>
                                </tr>
                              </tbody>
                            </nz-table>
                          </div>

                      </tr>
                    </ng-template>
                  </tbody>
                </nz-table>
              </div>
            </ng-template>

            <ng-template [ngIf]="data.rowIdx == 3">
              <div>
                <nz-table #VASTable [nzData]="summaryInfo.vpnInformations" nzSize="middle" nzShowPagination="false">
                  <thead>
                    <tr>
                      <th class="thCls" width="3%"></th>
                      <th class="thCls" width="50%">{{"vpnName" | translate}}</th>
                      <th class="thCls" width="47%">{{"bandwidth" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data1 of VASTable.data; index as i;">
                      <td width="3%"> </td>
                      <td width="50%">{{data1.vpnName}} </td>
                      <td width="47%">{{data1.vpnBandwidth}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </ng-template>

            <ng-template [ngIf]="data.rowIdx == 4">
              <div>
                <table>
                  <tbody>
                    <tr>
                      <td width="3%"></td>
                      <td width="87%">{{"cameraNumPerSite" | translate}} : {{camerasLength}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
            </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
  
  <!--Responsive Ordered service-->

  <nz-table  #nzExpandTable [nzData]="expandDataSet" [nzShowPagination]=false *ngIf="isMobile">
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nzExpandTable.data">
          <tr>
            <td class="tdCls" nzShowExpand [(nzExpand)]="data.mobileExpand"></td>
            <td width="100%" class="tdCls">{{data.name | translate}}</td>
          </tr> 
  
          <tr [nzExpand]="data.mobileExpand ">
            <td class="noPadding " colspan="4" >
              <ng-template [ngIf]="data.rowIdx == 1">
                <div class="xs-table-cel">
                  <div width="100%">
                    <div class="divCls">
                      <span class="spanCls">{{"BandWidth" | translate}}:</span> {{summaryInfo.bandWidth}}GB</div>
                    <div class="divCls">
                      <span class="spanCls">{{"wanAccess" | translate}}:</span> {{wlanAccess }} </div>
                  </div>
                  <div *ngFor="let data of summaryInfo.vpnInformations; index as i;">
                        <nz-table #vpnTable nzBordered [nzData]="data.sites" [nzPageSize]="5" [nzShowPagination]=false>
                          <thead>
                            <tr>
                              <th class="thCls"></th>
                              <th width="60%" class="thCls">{{"siteName" | translate}}</th>
                              <th width="40%" class="thCls">{{"location" | translate}}</th>
                            </tr>
                          </thead>
                          <tbody>
                              <ng-template ngFor let-data [ngForOf]="vpnTable.data">
                                  <tr> 
                                    <td nzShowExpand [(nzExpand)]="data.expand"></td>
                                    <td width="60%" >{{data.siteName}}</td>
                                    <td width="40%" >{{data.location}}</td>
                                  </tr>
                                  <tr [nzExpand]="data.expand">
                                      <td></td>
                                      <td colspan="2" ><b > {{"role" | translate}}: </b>{{data.role}}<br/>
                                        <b > {{"interface" | translate}}: </b>{{data.siteinterface}}<br/>
                                        <b > {{"subnet" | translate}}: </b>  {{ data.subnet}}<br/>
                                      </td>
                                  </tr>
                              </ng-template>    
                          </tbody>
                        </nz-table>
                    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                  </div>
              </ng-template>
  
              <ng-template [ngIf]="data.rowIdx == 2">
                <div>
                  <nz-table #nestedTable [nzData]="summaryInfo.vpnInformations" [nzPageSize]="10" nzShowPagination="false">
                    <thead>
                      <tr>
                        <th nzShowExpand width="3%" class="thCls"></th>
                        <th nzSortKey="name" width="50%" class="thCls">{{"vpnName" | translate }}</th>
                        <th nzSortKey="type" width="47%" class="thCls">{{"type" | translate }}</th>
                      </tr>
                    </thead>
  
                    <tbody>
                      <ng-template ngFor let-data [ngForOf]="nestedTable.data" nzShowPagination="false">
                        <tr>
                          <td nzShowExpand width="3%" [(nzExpand)]="data.expand"></td>
                          <td width="50%">{{data.vpnName}}</td>
                          <td width="47%">{{data.vpnType}}</td>
                        </tr>
                        <tr [nzExpand]="data.expand">
                          <td colspan="3">
                            <div style="padding-left:3%">{{"siteInformation" | translate }}</div>
                            <div *ngFor="let data of summaryInfo.vpnInformations; index as i;" class="xs-td-pos">
                              <nz-table #vpnTable nzBordered [nzData]="data.sites" [nzPageSize]="5" [nzShowPagination]=false>
                                <thead>
                                  <tr>
                                    <th class="thCls"></th>
                                    <th width="60%" class="thCls">{{"siteName" | translate}}</th>
                                    <th width="40%" class="thCls">{{"location" | translate}}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <ng-template ngFor let-data [ngForOf]="vpnTable.data">
                                        <tr> 
                                          <td nzShowExpand [(nzExpand)]="data.expand"></td>
                                          <td width="60%" >{{data.siteName}}</td>
                                          <td width="40%" >{{data.location}}</td>
                                        </tr>
                                        <tr [nzExpand]="data.expand">
                                            <td></td>
                                            <td colspan="2" ><b > {{"role" | translate}}: </b>{{data.role}}<br/>
                                              <b > {{"interface" | translate}}: </b>{{data.siteinterface}}<br/>
                                              <b > {{"subnet" | translate}}: </b>  {{ data.subnet}}<br/>
                                            </td>
                                        </tr>
                                    </ng-template>    
                                </tbody>
                              </nz-table>
                            </div>
                        </tr>
                      </ng-template>
                    </tbody>
                  </nz-table>
                </div>
              </ng-template>
  
              <ng-template [ngIf]="data.rowIdx == 3">
                <div>
                  <nz-table #VASTable [nzData]="summaryInfo.vpnInformations" nzSize="middle" nzShowPagination="false">
                    <thead>
                      <tr>
                        <th class="thCls" width="3%"></th>
                        <th class="thCls" width="50%">{{"vpnName" | translate}}</th>
                        <th class="thCls" width="47%">{{"bandwidth" | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data1 of VASTable.data; index as i;">
                        <td width="3%"> </td>
                        <td width="50%">{{data1.vpnName}} </td>
                        <td width="47%">{{data1.vpnBandwidth}}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </ng-template>
  
              <ng-template [ngIf]="data.rowIdx == 4">
                <div>
                  <table>
                    <tbody>
                      <tr>
                        <td width="3%"></td>
                        <td width="87%">Camera Number Per Site : {{camerasLength}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
              </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>

</div>