
.paddingLeft{
  padding-left: 40px;
}
nz-table{
  td{
   border-bottom: 1px solid #F7F8FC;
    background-color:var(--primary) ; 
     color: var(--on-primary) ; 
 }
 .tdCls{
   font-weight:bold;
   color: var(--on-primary) ;
   background-color:var(--primary) ;
   overflow: hidden; 
   height:21px;   
 }
 .clscol
 {
  color: var(--on-primary) ;
 }

 .thCls{
  font-weight:bold;
   color: var(--on-primary) ;
   background-color: var(--th-background);
   
  border-bottom: 1px solid #F7F8FC;
  border-top: 1px solid #F7F8FC;
  height:21px;  
 }
 .noPadding
 {
   padding-left:0px;
   padding-right:0px;
 }

 .divCls{
  display: inline-block;
  width: 40%;
  padding-left: 3%;
  padding-bottom: 10px;
   color : var(--on-lables) ; 
 }
 .spanCls
 {
   color:#999999;   
 }
 .costCls
 {
   color:red;
   text-align: center;
   font-size: 16px;
   font-weight:400;
   border:0px;
 }
 .textAlignLeft
 {
  text-align: left;  
 }
 .paddingZero{
    padding:0px;
 }
}

.container1
{
  height: calc(~"100vh - 210px");
  overflow: auto;  
}

:host ::ng-deep .ant-table-row-expand-icon
{ background: var(--primary);

} 
.divCls
{
.spanCls {
    color : var(--on-lables) ; 
}}

@media (max-width: 575px) {


  .xs-clr-blue{
    color: var(--on-primary) ;
  }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
  .xs-clr-red{
    color: red!important;
  }
  .xs-flex-col{
    display: flex!important;
    flex-direction: column!important;
  }
 
  .text-align-center{
    text-align: center!important
  }
  .min-hight{
    min-height: calc(~"50vh - 50px")!important;
  }
  
}