.ant-select-dropdown-dark{
    background-color: #000930;
    border: 1px solid; 
    ul{
        li{
            color:#00fffc;
            &:hover{
                background-color: #0f5c72;
            }
        }
        li.ant-select-dropdown-menu-item-selected{
            background-color: #5263ad;
            &:hover{
                background-color: #5263ad;
                color:#00fffc;
            }
        }
    }  
}
