@media (max-width: 575px) {
    [class*="colm-"] {
        width: 100%;         
    }

   
    .ant-form-item-label label{
        color: var(--on-primary);
    }
   .ant-input {
       
        background: transparent !important;
    }
    .ant-select-selection--single  {

        background: transparent !important;
    }
    .ant-select-selection__placeholder
    {
        color: var(--on-primary);
    }
    .ant-modal-content
    {
        background-image: var(--modal-background )!important;
    }

    nz-modal .ant-modal-body span {
    color: var(--on-primary);
    }
    .ant-radio-inner
    {
        background: transparent !important;
    }

    .ant-input
    {
        color: var(--on-primary);
    }

    .ng-star-inserted
    {
        color: var(--on-primary);
       // background: #004d4d;
    }
    .ant-modal-header 
    {
        background: var(--modal-header-color)!important;
    }
    
    .nz-modal .ant-modal-body nz-select .ant-select-selection__rendered .ant-select-selection-selected-value
    {
        color: var(--on-primary) !important;
    }

    .ant-table-bordered.ant-table-fixed-header .ant-table-placeholder
    {
        background: transparent;
    }
   .nz-modal .ant-modal-footer button:nth-child(1) {
      margin-left: 10px;
     
  }
    






    .clr-primary{
        color:  var(--on-primary)!important; 
    } 
    .padding-2p{
        padding:2%!important;
    }
    .lblCls {
        color:  var(--on-primary) ;
        font-weight: bold; 
        padding: 0 0;   
    }

   
    .divCls{
        width: 100%;
        padding: 3%;
        color:  var(--on-primary) ;
    }
    *{
        font-size: 1em;  
    }
    .ant-col-xs-24.ant-form-item-label
    {
        padding: 8px 0 0px
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header{
        font-weight: bold;
    }
    // .ant-table-thead > tr > th, .ant-table-tbody > tr > td 
    // {        
    //     overflow: hidden;
    //     //text-overflow: ellipsis;  
    //     //white-space: nowrap; 
    //     white-space: normal;      
    // }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
        padding: 14px 2px !important;
        word-break: normal!important;
      }
    nz-modal {
        .ant-modal {
          height: 550px; 
       // background: url("assets/images/create-box.png") 0% 0%;      
        
        }
        .ant-modal-content{
            height: 550px; 
          //  background-color: black !important;  
            color: yellow !important;                
        }

         .ant-modal-footer{
            button
            {
                width:80px;
            } 
            button:nth-child(1){
                margin-left: 10px;
                background: lightskyblue !important ;
                color: white;
            }
            button:nth-child(2){
                margin-left: 20px;
                margin-right: 10px;
            }
       }
    }    

  }  
  
  .ant-pagination-prev .ant-pagination-item-link:after {
    color:  var(--on-primary) ;
    background-color : var(--primary);
    //background : transparent;
    border-color: #1890ff;
  }
  .ant-pagination-prev .ant-pagination-item-link:after, .ant-pagination-next .ant-pagination-item-link:after {
    color:  var(--on-primary) ;
    background-color : var(--primary);
    //background : transparent;
    border-color: #1890ff;
  }

  .ant-pagination-item-active {
    color:  var(--on-primary) ;
   // background : transparent;
    background-color : var(--primary);

}



  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .colm-s-1 {width: 15%;
        text-align: right;
        font-weight: bold;
    }
    .colm-s-2 {width: 35%;}
    .divCls{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3%;
    }
 
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .colm-1 {width: 15%;
        text-align: right;
        font-weight: bold;
    }
    .colm-2 {width: 35%;}
    .divCls{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 3%;
    }

  }
