<nz-tabset theme [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="1">
  <nz-tab *ngFor="let tab of tabs" class="tabcls" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">
    <div *ngIf="tab.id==1">
      <app-camera></app-camera>
    </div>   
    <div *ngIf="tab.id==2">
      <app-profile></app-profile>
    </div>
  </nz-tab>
</nz-tabset>
