:host ::ng-deep .ant-tabs-bar {
    box-shadow: none;
    border-bottom:1px solid #e8e8e8 !important;
    background:var(--primary) !important;    
}  

:host ::ng-deep .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  margin: 0 !important;
  border: 1px solid #e8e8e8 !important;
  border-bottom: 0 !important;
  border-radius: 4px 4px 0 0 !important;
  background: var(--primary) !important;
  margin-right: 4px !important;
  padding: 0 16px !important;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  line-height: 38px !important;
  color:var(--on-primary);
  font-weight:bold;
}  

:host ::ng-deep .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  background: var(--primary) !important; 
  border-color: #7BC7F3 !important;
  color: #7BC7F3 !important;
}

:host ::ng-deep .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-disabled {
  background: var(--primary) !important;   
  color: rgba(0, 0, 0, 0.25) !important ;
  color: var(--disabled-tab-color) !important ;
}