// .title {
//     font: 700 18px/18px "思源黑体";
//     color: #4c5e70;
//     margin-bottom: 18px; 
// }
// hr {
//     border: none;
//     height: 2px;
//     background-color: #dce1e7;
//     margin-bottom: 20px;
// }
.content {
    .services {
        float: left;
        background-color: #fff;
        width: 30%;
        height: 628px;
        border-radius: 5px;
        padding: 28px 22px;
        h4 {
            font: 600 16px/16px "Arial Bold";
            color: #3F9CFF;
            margin-bottom: 20px;
        }
        h3 {
            font: 400 48px/48px "Arial";
            color: #3fa8eb;
            text-align: center;
            span {
                font-size: 14px;
            }
        }
        h5 {
            font: 500 16px/16px "ArialMT";
            color:#3F9CFF;
            margin: -2em 0 1em 0 ;
            span {
                font-size: 12px;
                font-family: "Arial";
                color:rgba(60,79,140,1);
            }
            span:first-child {
                padding: 0  4PX  0 4px;
            }
            span:last-child {
                padding-left: 4px;
            }
           
        }
        p {
            font: 400 14px/14px "Arial";
            color: #54657e;
            text-align: center;
            margin-bottom: 48px;
        }
        .details {
            li {
                border-bottom:0.5px solid rgba(237,237,237,1);
                border-radius:4px;
                line-height: 45px;
                font-size: 14px;
                color: #3C4F8C;
                font-family:"ArialMT";
                .detailstoplin {
                    width: 100%;
                    height: 50px;
                    border-top: 0.5px solid #ededed;
                    border-radius: 4px;
                    div:first-child{
                        width: 20%;
                        float: left;
                    }
                    div:nth-child(2){
                        width: 65%;
                        float: left;
                    }
                    div:last-child {
                        width: 13%;
                        float: right;
                        font-size:12px;
                        font-weight: 500;
                        color:rgba(60,79,140,0.5);
                    }
                }
            } 
        }
        .tip {
            width: 110px;
            background-color: #eceff4;
            color: #3C4F8C;
            font-size: 16px;
            float: right;
            margin-top: 53px;
            line-height: 35px;
            border-radius: 5px;
        }
    }
    .rightcontent {
        float: left;
        padding-left: 15px;
        width: 70%;
        .rt-content {
            height: 220px;
            margin-bottom: 18px;
            .poerformance {
                float: left;  
                margin-left: 2%;            
                background-color: #fff;
                height: 100%;
                width: 50%;
                border-radius: 5px;
                padding: 28px 26px;
                .pfVmPm {
                    h3 {
                        color:#BD57E5;
                    }
                }
                h4 {
                    font: 600 16px/16px "Arial Bold";
                    color: #3F9CFF;
                    margin-bottom: 34px;  
                }
                
                div {
                    height: 57px;
                    position: relative;
                    margin-bottom: 10px;
                    h3 {
                        font: 600 25px/25px "Arial";
                        color: #2F6AEF;
                        margin-bottom: 10px;
                        padding-left: 50%;
                    }
                    p {
                        font: 400 12px/12px "Arial"; 
                        color:rgba(60,79,140,0.5);
                        padding-left: 50%;
                        
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .alarm {
                float: left;
                background-color: #fff;
                height: 100%;
                width: 48%;
                
                border-radius: 5px;
                position: relative;
                padding: 28px 26px;
                h4 {
                    position: absolute;
                    font: 600 16px/16px "Arial Bold";
                    color: #3F9CFF;
                }
            }
        }
        .rb-content {
            height: 390px;
            background-color: #fff;
            border-radius: 5px;
            padding: 24px 30px;
            position: relative;
            h4 {
                font: 600 16px/16px "Arial Bold";
                color: #3F9CFF;
            }
            nz-dropdown {
                position: absolute;
                top: 24px;
                right: 30px;
                button {
                    width: 170px;
                    height: 35px;
                    background-color: #eceff4;
                    text-align: left;
                    border-color: #cad3df;
                    span {
                        display: inline-block;
                        width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 14px;
                    }
                    i {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                    }
                }
                //下拉框中的样式在style.less中，下拉框是在body中额外临时生成的
            }
            #pfVmChartLine {
                width: 100%;
                height: 318px;
            }
        }
    }
}