<!--
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!--<h3 class="title"> {{"Overall trend" | translate}}</h3>
<hr> -->
<div class="content" style="padding: 20px 20px;">
  <div class="services">
    <h4>{{"SERVICES" | translate}}</h4>
    <!-- <h3>{{serviceNumber}} <span>{{"services" | translate}}</span> </h3>
    <p>{{serviceNumber}} {{"services has been created" | translate}}</p> -->
    <app-pie [initData]="serviceChartInit" [chartData]="serviceChartData"></app-pie>
    <div>
      <h5> {{serviceNumber}} <span>cutomers and</span> {{serviceNumber}} <span>service intance</span></h5>
    </div>
    <div class="details">
      <li> <div class="detailstoplin" *ngFor="let item of userdata"> <div>{{item.name}}</div> <div> <app-bar [initData]="serviceBarChartInit" [chartData]="servicesBarChartData"></app-bar></div> <div>{{item.value1}}/{{item.value2}}</div></div> </li>
    </div>
    <p class="tip">View Details</p>
  </div>
  <div class="rightcontent">
    <div class="rt-content">
      <div class="alarm">
        <h4>{{"ALARM" | translate}}</h4>
        <app-pie [initData]="alarmChartInit" [chartData]="alarmChartData"></app-pie>
      </div>
      <div class="poerformance">
        <h4>{{"DEVICES" | translate}}</h4>
        <div class="pfVnf">
          <h3 class="pfVnfNum">{{performanceVnfNum}}</h3>
          <p>Performance VNF</p>
          <img src="./assets/images/VNF.png" alt="VNF">
        </div>
        <div class="pfVmPm">
          <h3 class="pfVmPmNum">{{performanceVmNum}}</h3>
          <p>Performance VM/PM</p>
          <img src="./assets/images/VM.png" alt="VM/PM">
        </div>
      </div>
    </div>
    <div class="rb-content">
      <h4>{{"VM PERFORMANCE" | translate}}</h4>
      <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'">
        <button nz-button nz-dropdown><span>{{sourceNameSelected}}</span> <i class="anticon anticon-down"></i></button>
        <ul nz-menu>
          <li nz-menu-item (click)="sourceNameSelect(item)" *ngFor="let item of sourceNameList">
            <a>{{item}}</a>
          </li>
        </ul>
      </nz-dropdown>
      <app-line [initData]="alarmLineChartInit" [chartData]="alarmLineChartData"></app-line>
    </div>
  </div>
</div>
