/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 20px;
}
.content .services {
  float: left;
  background-color: #fff;
  width: 30%;
  height: 628px;
  border-radius: 5px;
  padding: 28px 22px;
}
.content .services h4 {
  font: 600 16px/16px "Arial";
  color: #3d4d65;
  margin-bottom: 58px;
}
.content .services h3 {
  font: 400 48px/48px "Arial";
  color: #3fa8eb;
  text-align: center;
}
.content .services h3 span {
  font-size: 14px;
}
.content .services p {
  font: 400 14px/14px "Arial";
  color: #54657e;
  text-align: center;
  margin-bottom: 48px;
}
.content .services .tip {
  background-color: #eceff4;
  color: #3d4d65;
  font-size: 16px;
  margin: 0 20px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
}
.content .rightcontent {
  float: left;
  padding-left: 15px;
  width: 70%;
}
.content .rightcontent .rt-content {
  height: 220px;
  margin-bottom: 18px;
}
.content .rightcontent .rt-content .poerformance {
  float: left;
  background-color: #fff;
  height: 100%;
  width: 50%;
  border-radius: 5px;
  padding: 28px 26px;
}
.content .rightcontent .rt-content .poerformance h4 {
  font: 600 16px/16px "Arial";
  color: #3d4d65;
  margin-bottom: 34px;
}
.content .rightcontent .rt-content .poerformance div {
  height: 57px;
  position: relative;
  margin-bottom: 10px;
}
.content .rightcontent .rt-content .poerformance div h3 {
  font: 600 25px/25px "Arial";
  color: #3d4d65;
  margin-bottom: 10px;
}
.content .rightcontent .rt-content .poerformance div p {
  font: 400 12px/12px "Arial";
  color: #54657e;
}
.content .rightcontent .rt-content .poerformance div img {
  position: absolute;
  top: 0;
  right: 0;
}
.content .rightcontent .rt-content .alarm {
  float: left;
  background-color: #fff;
  height: 100%;
  width: 48%;
  margin-left: 2%;
  border-radius: 5px;
  position: relative;
  padding: 28px 26px;
}
.content .rightcontent .rt-content .alarm h4 {
  position: absolute;
  font: 600 16px/16px "Arial";
  color: #3d4d65;
}
.content .rightcontent .rb-content {
  height: 390px;
  background-color: #fff;
  border-radius: 5px;
  padding: 24px 30px;
  position: relative;
}
.content .rightcontent .rb-content h4 {
  font: 600 16px/16px "Arial";
  color: #3d4d65;
}
.content .rightcontent .rb-content nz-dropdown {
  position: absolute;
  top: 24px;
  right: 30px;
}
.content .rightcontent .rb-content nz-dropdown button {
  width: 170px;
  height: 35px;
  background-color: #eceff4;
  text-align: left;
  border-color: #cad3df;
}
.content .rightcontent .rb-content nz-dropdown button span {
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.content .rightcontent .rb-content nz-dropdown button i {
  position: absolute;
  top: 12px;
  right: 12px;
}
.content .rightcontent .rb-content #pfVmChartLine {
  width: 100%;
  height: 318px;
}
