
.slide-img {
  width: 100%;
  height: 100%;
}

.titleCls{
  vertical-align: middle;
  text-align: center;
  padding: 50px 0px 50px 0px; 
  h1{
    color: var(--on-primary); 
  }  
}


.leftBtn
{
  float: left; 
  width: 60px;
  margin-top: 153px;
  margin-left: 220px;
  background :  url('../../assets/images/home/right_u44.png');
  height: 30px;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  &:hover{
    background :  url('../../assets/images/home/right_u44_mouseOver.png');
    background-repeat: no-repeat;
  }
}

.centerCarousel
{  
  float:left; 
  width: 65%;
}

.rightBtn
{
  float: left; 
  width: 60px;
  margin-top: 153px;
  margin-left:15px;
  background :  url('../../assets/images/home/right_u44.png');
  height: 30px;
  background-repeat: no-repeat;
  transform: rotate(270deg);
  &:hover{
    background :  url('../../assets/images/home/right_u44_mouseOver.png');
    background-repeat: no-repeat;
  }
}

