/*
    Copyright (C) 2018 CMCC, Inc. and others. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/
.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 20px;
}
.list {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}
.list nz-table tbody td span.onboarding {
  font-size: 12px;
  color: #147dc2;
}
.list nz-table tbody td span.onboarded {
  font-size: 14px;
  color: #147dc2;
}
.list nz-table tbody td span.updating {
  font-size: 12px;
  color: blue;
}
.list nz-table tbody td span.deleting {
  font-size: 12px;
  color: red;
}
.list nz-table tbody td span.invalid {
  font-size: 14px;
  color: purple;
}
.list nz-table tbody td i.anticon {
  cursor: pointer;
  font-size: 18px;
  padding: 2px;
}
.list nz-table tbody td i.anticon:hover {
  color: #147dc2;
}
.list nz-table tbody td .cannotclick {
  pointer-events: none;
  color: #aaa;
  opacity: 0.6;
}
.list nz-table tbody td .fileIcon{
  display: none;
}