<div style="padding: 2%">
  <div nz-row [nzGutter]="8" class="d-flex justify-content-between">
    <div nz-col [nzSpan]="8"  routerLink="/ccvpn/os/orderService">
      <nz-card class=" text-center  flip-card">
          <div class="flip-card-inner">
        <div style="min-height: 200px;">
            <div class="flip-card-front">
          <h3>SD-WAN Service</h3>
          </div>
          <div class="flip-card-back">
          <p>SD-WAN is an acronym for software-defined networking in a wide area network (WAN). 
          SD-WAN simplifies the management and operation of a WAN by decoupling (separating) 
          the networking hardware from its control mechanism. This concept is similar to how 
          software-defined networking implements virtualization technology to improve data center management and operation
          </p>
          </div>
        </div>
          </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8" routerLink="/ccvpn/os/sotn-orderService" >
      <nz-card class="text-center  flip-card">
          <div class="flip-card-inner">   
        <div style="min-height: 200px;">
            <div class="flip-card-front">
          <h3>SOTN Service</h3>
          </div>
          <div class="flip-card-back">
          <p>
              Optical Transport Network is defined by the ITU Telecommunication Standardization 
              Sector (ITU-T); the ITU-T recommendation G.709 is referred to as the Optical Transport 
              Network protocol. G.709 may also be called "digital wrapper technology" 
              or "optical channel wrapper technology."
          </p>
          </div>
        </div>
      </div>
      </nz-card>
    </div>
  </div>
</div>