p {
    margin: 12px;
  }
.crd-bg{
    background: linear-gradient(90deg, #10aede 0%, #2bceca 100%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
   perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(90deg, #10aede 0%, #2bceca 100%);
  color: black;
}

.flip-card-back {
  background-color: #15adad;
  color: white;
  transform: rotateY(180deg);
}

h3 {  
  font-size: 33px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin: 79px 50px 0 50px;
  padding-top: -60px;

}

.p
{
  margin-top: 20px;
}