.title {
  font: 700 18px/18px "思源黑体";
  color: #4c5e70;
  margin-bottom: 18px;
}
hr {
  border: none;
  height: 2px;
  background-color: #dce1e7;
  margin-bottom: 20px;
}
.select {
  margin-bottom: 20px;
}
.select span {
  display: inline-block;
  font: 700 14px "Arial";
  color: #4c5e70;
}
.select nz-dropdown {
  vertical-align: middle;
}
.select nz-dropdown :hover {
  border-color: #147dc2;
}
.select nz-dropdown button {
  width: 165px;
  height: 30px;
  background-color: #eceff4;
  text-align: left;
  border-color: #9fa9ab;
}
.select nz-dropdown button span {
  font-weight: 400;
  display: inline-block;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
}
.select nz-dropdown button i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.select .search {
  margin-left: 20px;
  vertical-align: middle;
  height: 30px;
  padding: 0 10px;
}
.select .search span {
  color: #fff;
  font-weight: 400;
}
.content {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
}
.content .vnfs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content .vnfs .vnf {
  width: 18%;
  height: 200px;
  margin: 5px;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
.content .vnfs .vnf:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
}
.content .vnfs .vnf h3 {
  font-size: 14px;
  color: #3fa8eb;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}
.content .vnfs .vnf .intro {
  text-align: left;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
}
.content .vnfs .empty {
  width: 18%;
  height: 200px;
  margin: 5px;
  border-radius: 2px;
}
.content .pages {
  height: 25px;
  margin: 20px 10px;
  position: relative;
}
.content .pages nz-pagination {
  float: right;
}
